In [1]:
import sqlite3

In [2]:
con=sqlite3.connect()

TypeError: Required argument 'database' (pos 1) not found

In [14]:
# creat  buffer
con=sqlite3.connect('db4')

In [15]:
cur=con.cursor()

In [16]:
cur.execute("create table customer(id,int, name varchar(250))")

In [17]:
con.commit()

In [18]:
person_id=raw_input("Enter an id: ")
person_name=raw_input("enter name:")
q="insert into customer(id,name) values(%s,'%s')"%(person_id,person_name)
print q

Enter an id: 12
enter nameanil
insert into customer(id,name) values(12,'anil')

In [19]:
#insert 
person_id=raw_input("Enter an id: ")
person_name=raw_input("enter name:")
q="insert into customer(id,name) values(%s,'%s')"%(person_id,person_name)
print q

Enter an id: 10
enter name:ashok
insert into customer(id,name) values(10,'ashok')

In [20]:
#insert 
person_id=raw_input("Enter an id: ")
person_name=raw_input("enter name:")
q="insert into customer(id,name) values(%s,'%s')"%(person_id,person_name)
print q
con.commit()

Enter an id: 2
enter name:ajay
insert into customer(id,name) values(2,'ajay')

In [21]:
import random
names=["ramesh","mahesh","prabhas","harish","sandeep","karthik"]
for i in range(3,103):
    q="insert into customer(id,name) values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
con.commit()

In [22]:
q="select * from customer"
cur.execute(q)

In [23]:
data=cur.fetchall()

In [24]:
print data

[(3, None, u'mahesh'), (4, None, u'harish'), (5, None, u'mahesh'), (6, None, u'mahesh'), (7, None, u'harish'), (8, None, u'sandeep'), (9, None, u'prabhas'), (10, None, u'ramesh'), (11, None, u'prabhas'), (12, None, u'karthik'), (13, None, u'karthik'), (14, None, u'mahesh'), (15, None, u'sandeep'), (16, None, u'karthik'), (17, None, u'ramesh'), (18, None, u'karthik'), (19, None, u'prabhas'), (20, None, u'mahesh'), (21, None, u'harish'), (22, None, u'mahesh'), (23, None, u'sandeep'), (24, None, u'ramesh'), (25, None, u'harish'), (26, None, u'prabhas'), (27, None, u'karthik'), (28, None, u'harish'), (29, None, u'sandeep'), (30, None, u'mahesh'), (31, None, u'harish'), (32, None, u'sandeep'), (33, None, u'sandeep'), (34, None, u'sandeep'), (35, None, u'prabhas'), (36, None, u'ramesh'), (37, None, u'mahesh'), (38, None, u'karthik'), (39, None, u'harish'), (40, None, u'prabhas'), (41, None, u'mahesh'), (42, None, u'ramesh'), (43, None, u'mahesh'), (44, None, u'harish'), (45, None, u'prabhas'), (46, None, u'sandeep'), (47, None, u'ramesh'), (48, None, u'karthik'), (49, None, u'harish'), (50, None, u'sandeep'), (51, None, u'mahesh'), (52, None, u'harish'), (53, None, u'ramesh'), (54, None, u'mahesh'), (55, None, u'harish'), (56, None, u'mahesh'), (57, None, u'prabhas'), (58, None, u'ramesh'), (59, None, u'harish'), (60, None, u'prabhas'), (61, None, u'ramesh'), (62, None, u'prabhas'), (63, None, u'harish'), (64, None, u'karthik'), (65, None, u'sandeep'), (66, None, u'prabhas'), (67, None, u'prabhas'), (68, None, u'mahesh'), (69, None, u'harish'), (70, None, u'ramesh'), (71, None, u'karthik'), (72, None, u'mahesh'), (73, None, u'harish'), (74, None, u'prabhas'), (75, None, u'sandeep'), (76, None, u'sandeep'), (77, None, u'harish'), (78, None, u'sandeep'), (79, None, u'mahesh'), (80, None, u'harish'), (81, None, u'harish'), (82, None, u'mahesh'), (83, None, u'harish'), (84, None, u'ramesh'), (85, None, u'mahesh'), (86, None, u'sandeep'), (87, None, u'ramesh'), (88, None, u'mahesh'), (89, None, u'karthik'), (90, None, u'sandeep'), (91, None, u'ramesh'), (92, None, u'prabhas'), (93, None, u'ramesh'), (94, None, u'mahesh'), (95, None, u'mahesh'), (96, None, u'mahesh'), (97, None, u'prabhas'), (98, None, u'harish'), (99, None, u'mahesh'), (100, None, u'harish'), (101, None, u'sandeep'), (102, None, u'prabhas')]

In [25]:
q="select * from customer where id=20"
cur.execute(q)
print cur.fetchall()

[(20, None, u'mahesh')]

In [26]:
q="select * from customer where id=20"
cur.execute(q)
print cur.fetchall()

[(20, None, u'mahesh')]

In [27]:
q="select * from customer where id=1"
cur.execute(q)
print cur.fetchall()

[]

In [29]:
q="select * from customer where id=102"
cur.execute(q)
print cur.fetchall()

[(102, None, u'prabhas')]

In [30]:
q="select * from customer where name='harish'"
cur.execute(q)
print cur.fetchall()

[(4, None, u'harish'), (7, None, u'harish'), (21, None, u'harish'), (25, None, u'harish'), (28, None, u'harish'), (31, None, u'harish'), (39, None, u'harish'), (44, None, u'harish'), (49, None, u'harish'), (52, None, u'harish'), (55, None, u'harish'), (59, None, u'harish'), (63, None, u'harish'), (69, None, u'harish'), (73, None, u'harish'), (77, None, u'harish'), (80, None, u'harish'), (81, None, u'harish'), (83, None, u'harish'), (98, None, u'harish'), (100, None, u'harish')]

In [31]:
q="select * from customer where name='harish'"
cur.execute(q)
print len(cur.fetchall())

21

In [39]:
q="select count(*) from customer where name='harish'"
cur.execute(q)
print (cur.fetchall())

[(21,)]

In [42]:
person_id = raw_input("enter an id: ")
q= "select * from customer where id= "+person_id
cur.execute(q)
row = cur.fetchall()
print row
opt=raw_input("do you want updatethe row(y/n)")
if opt.lower()== "y" or opt.lower()== "yes":
    person_name=raw_input("enter to modify:")
    q="update customer set name='%s' where id=%s"%(person_name,person_id)
    cur.execute(q)
    con.commit()
q="select * from customer where id="+person_id
cur.execute(q)
row = cur.fetchall()
print row

enter an id: 12
[(12, None, u'karthik')]
do you want updatethe row(y/n)y
enter to modify:kartheek
[(12, None, u'kartheek')]

In [43]:
person_id = raw_input("enter an id: ")
q= "select * from customer where id= "+person_id
cur.execute(q)
row = cur.fetchall()
print row
opt=raw_input("do you want updatethe row(y/n)")
if opt.lower()== "y" or opt.lower()== "yes":
    person_name=raw_input("enter to modify:")
    q="update customer set name='%s' where id=%s"%(person_name,person_id)
    cur.execute(q)
    con.commit()
q="select * from customer where id="+person_id
cur.execute(q)
row = cur.fetchall()
print row

enter an id: 14
[(14, None, u'mahesh')]
do you want updatethe row(y/n)maheesh
[(14, None, u'mahesh')]

In [44]:
person_id = raw_input("enter an id: ")
q= "select * from customer where id= "+person_id
cur.execute(q)
row = cur.fetchall()
print row
opt=raw_input("do you want updatethe row(y/n)")
if opt.lower()== "y" or opt.lower()== "yes":
    person_name=raw_input("enter to modify:")
    q="update customer set name='%s' where id=%s"%(person_name,person_id)
    cur.execute(q)
    con.commit()
q="select * from customer where id="+person_id
cur.execute(q)
row = cur.fetchall()
print row

enter an id: 10
[(10, None, u'ramesh')]
do you want updatethe row(y/n)y
enter to modify:rameshhh
[(10, None, u'rameshhh')]

In [45]:
person_id = raw_input("enter an id: ")
q= "select * from customer where id= "+person_id
cur.execute(q)
row = cur.fetchall()
print row
opt=raw_input("do you want updatethe row(y/n)")
if opt.lower()== "y" or opt.lower()== "yes":
    person_name=raw_input("enter to modify:")
    q="update customer set name='%s' where id=%s"%(person_name,person_id)
    cur.execute(q)
    con.commit()
q="select * from customer where id="+person_id
cur.execute(q)
row = cur.fetchall()
print row

enter an id: 24
[(24, None, u'ramesh')]
do you want updatethe row(y/n)n
[(24, None, u'ramesh')]

In [46]:
person_id = raw_input("enter an id: ")
q= "select * from customer where id= "+person_id
cur.execute(q)
row = cur.fetchall()
print row
opt=raw_input("do you want updatethe row(y/n)")
if opt.lower()== "y" or opt.lower()== "yes":
    person_name=raw_input("enter to modify:")
    q="update customer set name='%s' where id=%s"%(person_name,person_id)
    cur.execute(q)
    con.commit()
q="select * from customer where id="+person_id
cur.execute(q)
row = cur.fetchall()
print row

enter an id: 20
[(20, None, u'mahesh')]
do you want updatethe row(y/n)y
enter to modify:mahesh babu
[(20, None, u'mahesh babu')]

In [47]:
person_id = raw_input("enter an id: ")
def browse(person_id):
    q= "select * from customer where id= "+person_id
    cur.execute(q)
    row = cur.fetchall()
    print row
browse(person_id)
opt=raw_input("do you want updatethe row(y/n)")
if opt.lower()== "y" or opt.lower()== "yes":
    person_name=raw_input("enter to modify:")
    q="update customer set name='%s' where id=%s"%(person_name,person_id)
    cur.execute(q)
    con.commit()
q="select * from customer where id="+person_id
cur.execute(q)
row = cur.fetchall()
print row

enter an id: 12
[(12, None, u'kartheek')]
do you want updatethe row(y/n)y
enter to modify:karthik
[(12, None, u'karthik')]

In [48]:
person_id = raw_input("enter an id: ")
def browse(person_id):
    q= "select * from customer where id= "+person_id
    cur.execute(q)
    row = cur.fetchall()
    print row
browse(person_id)
opt=raw_input("do you want delet the row(y/n)")
if opt.lower()== "y" or opt.lower()== "yes":
    person_name=raw_input("enter to modify:")
    q="delet customer set name='%s' where id=%s"%(person_name,person_id)
    cur.execute(q)
    con.commit()
q="select * from customer where id="+person_id
cur.execute(q)
row = cur.fetchall()
print row

enter an id: 12
[(12, None, u'karthik')]
do you want delet the row(y/n)n
[(12, None, u'karthik')]

In [49]:
person_id = raw_input("enter an id: ")
def browse(person_id):
    q= "select * from customer where id= "+person_id
    cur.execute(q)
    row = cur.fetchall()
    print row
browse(person_id)
opt=raw_input("do you want delet the row(y/n)")
if opt.lower()== "y" or opt.lower()== "yes":
    person_name=raw_input("enter to modify:")
    q="delet customer set name='%s' where id=%s"%(person_name,person_id)
    cur.execute(q)
    con.commit()
q="select * from customer where id="+person_id
cur.execute(q)
row = cur.fetchall()
print row

enter an id: 12
[(12, None, u'karthik')]
do you want delet the row(y/n)y
enter to modify:karthik

OperationalError: near "delet": syntax error

In [50]:
person_id = raw_input("enter an id:")
def browse(person_id):
    q="select * from customer where id="+person_id
    cur.execute(q)
    row = cur.fetchall()
    print row
browse(person_id)
opt = raw_input("Do you want to delete the row:(y/n)")
if opt.lower() == "y" or opt.lower() == "yes":
    q="delete from customer where id=%s"%(person_id)
    cur.execute(q)
    con.commit()
browse(person_id)

enter an id:12
[(12, None, u'karthik')]
Do you want to delete the row:(y/n)y
[]

In [59]:
person_id = raw_input("enter an id:")
def browse(person_id):
    q="select * from customer where id= "+person_id
    cur.execute(q)
    row = cur.fetchall()
    print row
browse(person_id)
opt = raw_input("Do you want to delete the row:(y/n)")
if opt.lower() == "y" or opt.lower() == "yes":
    q=" delete from customer where id=%s"%(person_id)
    cur.execute(q)
    con.commit()
browse(person_id)

enter an id:22
[(22, None, u'mahesh')]
Do you want to delete the row:(y/n)y
[]

In [60]:
person_id = raw_input("enter an id:")
def browse(person_id):
    q="select * from customer where id= "+person_id
    cur.execute(q)
    row = cur.fetchall()
    print row
browse(person_id)
opt = raw_input("Do you want to delete the row:(y/n)")
if opt.lower() == "y" or opt.lower() == "yes":
    q=" delete from customer where id=%s"%(person_id)
    cur.execute(q)
    con.commit()
def browse(person_id):
    q="select * from customer where id= "+person_id
    cur.execute(q)
    row = cur.fetchall()
    print row

enter an id:18
[(18, None, u'karthik')]
Do you want to delete the row:(y/n)n

In [61]:
person_id = raw_input("enter an id:")
def browse(person_id):
    q="select * from customer where id= "+person_id
    cur.execute(q)
    row = cur.fetchall()
    print row
browse(person_id)
opt = raw_input("Do you want to delete the row:(y/n)")
if opt.lower() == "y" or opt.lower() == "yes":
    q=" delete from customer where id=%s"%(person_id)
    cur.execute(q)
    con.commit()
def browse(person_id):
    q="select * from customer where id= "+person_id
    cur.execute(q)
    row = cur.fetchall()
    print row

enter an id:18
[(18, None, u'karthik')]
Do you want to delete the row:(y/n)y

In [64]:
person_id = raw_input("enter an id:")
def browse(person_id):
    q="select * from customer where id= "+person_id
    cur.execute(q)
    row = cur.fetchall()
    print row
browse(person_id)
opt = raw_input("Do you want to delete the row:(y/n)")
if opt.lower() == "y" or opt.lower() == "yes":
    q=" delete from customer where id=%s"%(person_id)
    cur.execute(q)
    con.commit()
def browse(person_id):
    q="select * from customer where id= "+person_id
    cur.execute(q)
    row = cur.fetchall()
    print row
browse(person_id)

enter an id:10
[(10, None, u'rameshhh')]
Do you want to delete the row:(y/n)y
[]

In [65]:
person_id = raw_input("enter an id:")
def browse(person_id):
    q="select * from customer where id= "+person_id
    cur.execute(q)
    row = cur.fetchall()
    print row
browse(person_id)
opt = raw_input("Do you want to delete the row:(y/n)")
if opt.lower() == "y" or opt.lower() == "yes":
    q=" delete from customer where id=%s"%(person_id)
    cur.execute(q)
    con.commit()
def browse(person_id):
    q="select * from customer where id= "+person_id
    cur.execute(q)
    row = cur.fetchall()
    print row
browse(person_id)

enter an id:22
[]
Do you want to delete the row:(y/n)y
[]

In [66]:
person_id = raw_input("enter an id:")
def browse(person_id):
    q="select * from customer where id= "+person_id
    cur.execute(q)
    row = cur.fetchall()
    print row
browse(person_id)
opt = raw_input("Do you want to delete the row:(y/n)")
if opt.lower() == "y" or opt.lower() == "yes":
    q=" delete from customer where id=%s"%(person_id)
    cur.execute(q)
    con.commit()
browse(person_id)                                        #compress code

enter an id:8
[(8, None, u'sandeep')]
Do you want to delete the row:(y/n)y
[]

In [67]:
person_id = raw_input("enter an id:")
def browse(person_id):
    q="select * from customer where id= "+person_id
    cur.execute(q)
    row = cur.fetchall()
    print row
browse(person_id)
opt = raw_input("Do you want to delete the row:(y/n)")
if opt.lower() == "y" or opt.lower() == "yes":
    q=" delete from customer where id=%s"%(person_id)
    cur.execute(q)
    con.commit()
browse(person_id)

enter an id:42
[(42, None, u'ramesh')]
Do you want to delete the row:(y/n)yes
[]

In [68]:
person_id = raw_input("enter an id:")
def browse(person_id):
    q="select * from customer where id= "+person_id
    cur.execute(q)
    row = cur.fetchall()
    print row
browse(person_id)
opt = raw_input("Do you want to delete the row:(y/n)")
if opt.lower() == "y" or opt.lower() == "yes":
    q=" delete from customer where id=%s"%(person_id)
    cur.execute(q)
    con.commit()
browse(person_id)

enter an id:60
[(60, None, u'prabhas')]
Do you want to delete the row:(y/n)y
[]

In [1]:
import psycopg2

In [1]:
import psycopg2