In [1]:
"""  25.  take a number from the user and check whether it is prime?"""
#conditions 1.number should be greater than 2.there is no positive divisers for the number other than (1*itselfnumber):
number = int(input("enter a value: "))
if (number>1)and(number%2==0):
    print "the number is not prime number"
        
else:
     print "the number is  prime number"

enter a value: 4
the number is not prime number

In [2]:
number = int(input("enter a value: "))
if (number>1)and(number%2==0):
    print "the number is not prime number"
        
else:
     print "the number is  prime number"

enter a value: 7
the number is  prime number

In [19]:
number = int(input("enter a value: "))
if (number>1)and(number%2==0):
    print "the number is not prime number"
        
else:
     print "the number is  prime number"

enter a value: 29
the number is  prime number

In [20]:
number = int(input("enter a value: "))
if (number>1)and(number%2==0):
    print "the number is not prime number"
        
else:
     print "the number is  prime number"

enter a value: 28
the number is not prime number

In [3]:
""" 26. Take string from the user and check contains only digits or not?"""
a=str(raw_input("enter a name:"))
print(a[1])
print(a[4])

enter a name:hyderabad
y
r

In [35]:
a = "hyderabad122"
if a.isdigit()==a:
    print "string contains only digits"
else:
    print"string does not contains  only digits"

string does not contains  only digits

In [9]:
a = str(raw_input("enter a string name: "))
if ord(a)>=120 and ord(a)<200:
    print "string contains digits"
else:
    print"string does not contains digits"

enter a string name: a
string does not contains digits

In [28]:
a = "hyderabad"
for i in a:
    if ord(i)>=100 :
        print "string contains digits"
        break
    else:
        print"string does not contains digits"

string contains digits

In [30]:
""" 27. take a string from the user and check contains only  alphabets or not?"""
a = "hyderabad"
if a.isalpha()==a:
    print "the string is only alphabets"

In [23]:
a = "hyderabad44"
if a.isalpha()!=a:
    print "the string does not have only alphabets"
else:
    print"the string  have alphabets"

the string does not have only alphabets

In [25]:
a="hyderabad"
if a.isalpha()==a:
    print "the string   have  alphabets"
else:
    print"the string have only  alphabets"

the string have only  alphabets

In [13]:
a = "hyderabad44"
if a.isalpha()!=a:
    print "the string does not have only  alphabets"
else:
    print"the string is only have  alphabets"

the string does not have only  alphabets

In [11]:
""" 28 .take a string from the user and check contains only  capital letters or not?"""
b = "kohli is good player"
if b.upper()==b:
    print"the string contains only capital letters"
else:
    print"the string does not contain only capital letters"

the string does not contain only capital letters

In [10]:
b = "KOHLI IS GOOD PLAYER"
if b.upper()==b:
    print"the string contains only CAPITAL letters"
else:
    print"the string contains only small letters"

the string contains only CAPITAL letters

In [9]:
""" 29. take a string from the user and check contains only  small letters or not?"""
c = "heloo world"
if c.lower()==c:
    print"the string contains only small letters"
else:
    print"the string contains only capital letters"

the string contains only small letters

In [8]:
z = "hyderabad"
print z.lower()==z

True

In [3]:
z = "HYDERABAD"
print z.upper()==z

True

In [3]:

c = "heloo world"
if c==lower():
    print"the string contains only small letters"
else:
    print"the string contains only capital letters"

NameError: name 'lower' is not defined

In [8]:
""" 41. Print the first 100 odd numbers"""
print " the odd numbers 1 to 20 are:"
n = int(raw_input("enter the low value in odd numbers:"))
a = int(raw_input("enter the upper value in odd numbers:"))

for i in range (n,a+1):
    if (i%2!=0):
        print (i)

 the odd numbers 1 to 20 are:
enter the low value in odd numbers:1
enter the upper value in odd numbers:20
1
3
5
7
9
11
13
15
17
19

In [ ]:
i = 1
while i<=10:
    if (i%2!=0):
        print i 
        i=i+1

1

In [ ]:
a="welcome"
i = 0
while i<4:
    print i
    i= i+1
print"thank you"

In [ ]:
a=raw_input("enter a value: ")
a=float(a)
i=0
while i<a:
    print i
    i= i+1
print"thank you"

In [ ]:
n = raw_input('enter a value: ')
n = float(n)
i = 1
while (i<=n):
    if n%i==0:
        print i
        i=i+1

enter a value: 6
1
2
3

In [ ]:
n = raw_input('enter a value: ')
n = float(n)
i = 1
while (i<=n):
    if n%i==1:
        print i
        i=i+1

In [1]:
# by using while loop only:
i = 1
while (i<10):
    print (i)
    i=i+1

1
2
3
4
5
6
7
8
9

In [2]:
i = 1
while (i<10):
    print (i)
    i=i+2

1
3
5
7
9

In [10]:
i = 1
while (i<21):
    print (i)
    i=i+2

1
3
5
7
9
11
13
15
17
19

In [12]:
#for evven numbers 
i = 0
while (i<40):
    print (i)
    i=i+2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [17]:
# by using for i in range  condition :
a = int(raw_input("enter the lower value:"))
b = int(raw_input("enter the upper value:"))
for i in range(a,b+1):
    if (i != 0):
        print i

enter the lower value:0
enter the upper value:10
1
2
3
4
5
6
7
8
9
10

In [3]:
""" 35.  Show the below menu to the user until and until user select quit and display corresponding os message

'''
Menu:
1. windows
2. Linux
3. Mac
4. quit"""

print"please select option\n\t1.select\n\t2.quit"

a = int(raw_input("enter a option: "))

if a==1:
    print"please select valid number for open menu"
if a==2:
    print'menu:\n\t1.windows\n\t2.linux\n\t3.mac\n\t4.linux'

please select option
	1.select
	2.quit
enter a option: 1
please select valid number for open menu

In [4]:
print"please select option\n\t1.select\n\t2.quit"

a = int(raw_input("enter a option: "))

if a==1:
    print"please select valid number for open menu"
if a==2:
    print'menu:\n\t1.windows\n\t2.linux\n\t3.mac\n\t4.linux'

please select option
	1.select
	2.quit
enter a option: 2
menu:
	1.windows
	2.linux
	3.mac
	4.linux

In [8]:
num =[1,2,3,4]
print 'minimum number',min(num)

minimum number 1

In [31]:
""" 50.  Take some single digit numbers from the user and findout min, maximum, sum, average"""
# by using list
a = [1,2,3,4,5,6]
print "minimum number is: ",min(a)
print "maximum number is: ",max(a)
print "sum number is ",sum(a)
print "avarage number is: ", sum(a)/(len(a))

minimum number is:  1
maximum number is:  6
sum number is  21
avarage number is:  3

In [3]:
""" 60. ...Take a element from the user and find out how many number of occurrences are there in given tuple"""
#The count() method returns the number of occurrences of an element in a tuple:
alphabets=('a', 'b', 'c', 's', 'a', 'b', 'a', 'c', 's', 'a')
count=alphabets.count('a')

In [4]:
#The count() method returns the number of occurrences of an element in a tuple:
alphabets=('a', 'b', 'c', 's', 'a', 'b', 'a', 'c', 's', 'a')
count=alphabets.count('a')
print count

4

In [5]:
#The count() method returns the number of occurrences of an element in a tuple:
alphabets=('a', 'b', 'c', 's', 'a', 'b', 'a', 'c', 's', 'a')
count=alphabets.count('a')
print " the count of a is :", count

 the count of a is : 4

In [6]:
#The count() method returns the number of occurrences of an element in a tuple:
alphabets=('a', 'b', 'c', 's', 'a', 'b', 'a', 'c', 's', 'a')
count=alphabets.count('b')
print " the count of b is :", count

 the count of b is : 2

In [12]:
""" 59. Take a element from the user and find out how many times the  element occurred in given list"""
a = [10, 20, 40, 20, 10, 30, 60, 40, 10, 40, 30, 20, 20, 10, 10, 10, 10, 20, 30, 20,30, 40 ]
count=a.count(10)
print " the count of 10 is: ",count

 the count of 10 is:  7

In [13]:
""" 59. Take a element from the user and find out how many times the  element occurred in given list"""
a = [10, 20, 40, 20, 10, 30, 60, 40, 10, 40, 30, 20, 20, 10, 10, 10, 10, 20, 30, 20,30, 40 ]
count=a.count(20)
print " the count of 20 is: ",count

 the count of 20 is:  6

In [15]:
""" 58.   Take a char from the user and find out how many number of occurrences are there in given string"""
string = "hyderabad is capital city"
count=string.count('a')
print "the count of a : ",count

the count of a :  4

In [16]:
string = "hyderabad is capital city"
count=string.count('d')
print "the count of d : ",count

the count of d :  2

In [18]:
""" 57. Take a string from the user and find out how many digits are there,
how many special symbols are there, how many small letters are there, how many caps are there."""
a = "1,2,3,4"
if  a.count(a) and a.isdigit:
    print a.isdigit

<built-in method isdigit of str object at 0x7fc10c0fc210>

In [4]:
a = "1,2,3,4"
count = a.count(a.isdigit())
print count

TypeError: expected a string or other character buffer object

In [5]:
digit = 0

In [10]:
a = "hyderabad1234"
for i in a:
    if a[i].alpha:
        letters += 1

TypeError: string indices must be integers, not str

In [14]:
x="hyderabad1234"
print x.count(x)

1

In [23]:
x="hyderabad"
a = x.count(x)==x.isalpha()
print a

True

In [29]:
given_string=raw_input("entaer a string name: ")
count=0
for i in given_string:
    if(i.isdigit()):
        count=count+1
print"the total digits in given string:",count

entaer a string name: 1234
the total digits in given string: 4

In [33]:
# for count digits and charecters in string
string = raw_input('enter a string name:')
count1=0
count2=0
for i in string:
    if (i.isdigit()):
        count1=count1+1
    count2=count2+1
print"the no.of digits in string: ",count1
print"the no.of charecters inn string: ",count2

enter a string name:hyderabad1234
the no.of digits in string:  4
the no.of charecters inn string:  13

In [38]:
#for count aphbets big and small letters in string
string="mahesh"
print string.islower()

True

In [39]:
string="mahesh"
print string.isupper()

False

In [40]:
string="mahesh"
print string.islower()

True

In [41]:
string="mahesh"
print string.islower()

True

In [44]:
#for small letters and big letters
string=raw_input('enter a name: ')
count1=0

for i in string:
    if (i.islower()):
        count1=count1+1
print"the small letters in given string name are:",count1

enter a name: HYDerabAD
the small letters in given string name are: 4

In [50]:
string=raw_input('enter a name: ')
count1=0
count2=0
for i in string:
    if (i.islower()):
        count1=count1+1
    elif (i.isupper()):
        count2=count2+1
print"the small letters in given string name are:",count1
print"the big letters in given string name are:",count2

enter a name: HYDERABad
the small letters in given string name are: 2
the big letters in given string name are: 7

In [56]:
""" 56.   l=[1,2,3,5,7,8,9,10,11,12,13,20,22,23,24,25,26,27,20,21,22,4] find out how many even numbers are 
there and how many odd numbers are there and how many positive numbers are there and how many negative numbers
are there and how many prime numbers are there and how many perfect numbers 
are there and how many Armstrong numbers are there and how many palindrome numbers are there."""

#for count even numbers in list:

l=[1,2,3,5,7,8,9,10,11,12,13,20,22,23,24,25,26,27,20,21,22,4]
count1=0
for i in l:
    if (i%2==0):
        count1=count1+1
print"the even numbers in given list are: ",count1

the even numbers in given list are:  11

In [63]:
#for count odd numbers in list:

l=[1,2,3,5,7,8,9,10,11,12,13,20,22,23,24,25,26,27,20,21,22,4,3,9,13,19,19,19,13,21]
count1=0
for i in l:
    if (i%2==1):
        count1=count1+1
print"the odd numbers in given list are: ",count1

the odd numbers in given list are:  19

In [66]:
# for negative numbers in list:
l=[1,2,3,5,7,8,9,10,11,12,13,20,22,23,24,25,26,27,20,21,22,4,3,9,13,19,19,19,13,21,]
count1=0
for i in l:
    if (i<0):
        count1=count1+1
print"the negative numbers  in given list are: ",count1

the negative numbers  in given list are:  0

In [67]:
# for positive numbers in list:
l=[1,2,3,5,7,8,9,10,11,12,13,20,22,23,24,25,26,27,20,21,22,4,3,9,13,19,19,19,13,21,]
count1=0
for i in l:
    if (i>0):
        count1=count1+1
print"the positive numbers  in given list are: ",count1

the positive numbers  in given list are:  30

In [68]:
# for prime numbers in list:

l=[1,2,3,5,7,8,9,10,11,12,13,20,22,23,24,25,26,27,20,21,22,4,3,9,13,19,19,19,13,21,]
count1=0
for i in l:
    if (i>1)and(i%2==0):
        count1=count1+1
print"the prime numbers  in given list are: ",count1

the prime numbers  in given list are:  11

In [103]:
# for perfect numbers in list:
l=[1,2,3,5,7,8,9,10,11,12,13,20,22,23,24,25,26,27,20,21,22,4,3,9,13,19,19,19,13,21,]
sum=0
for i in l:
    if (i%2 == 0):
        sum=sum+1
print"the prime numbers  in given list are: ",count1

the prime numbers  in given list are:  11

In [123]:
""" 55.    Take numbers from the user and find out min, maximum, sum, average"""
a = [1,2,3,4,5,6]
print "minimum number is: ",min(a)
print "maximum number is: ",max(a)
print "sum number is ", sum(a)
print "avarage number is: ", sum(a)/(len(a))

 minimum number is:  1
maximum number is:  6
sum number is

TypeError: 'int' object is not callable

In [126]:
""" 55.    Take numbers from the user and find out min, maximum, sum, average"""
a = [1,2,3,4,5,6]
print "minimum number is: ",min(a)
print "maximum number is: ",max(a)

 minimum number is:  1
maximum number is:  6

In [140]:
""" 54.    Take a two numbers from the user and do below menu driven operations
1. addition
2. multiples
3.division
4.sqrt
5. pow    a**b
6.subtraction
After selection do the corresponding operation.
Note: user may give int, or float numbers. You should check whether it is proper digits or not. I.e the user given string 
should be in the position to convert to float. Other wise show the “inproper string given” Error"""
a=int(raw_input("enter a number: "))
b=int(raw_input("enter a number: "))
c=a+b
d=a*b
e=a/b
f=a**2 and b**2
g=a**b
h=a-b

print "addition:",c,"\nmultiplication:",d,"\ndivision:",e,"\nsqrt:",f,"\npow:",g,"\nsubstraction:",h

enter a number: 2
enter a number: 4
addition: 6
multiplication: 8
division: 0
sqrt: 16
pow: 16
substraction: -2

In [154]:
a=float(raw_input("enter a number: "))
b=float(raw_input("enter a number: "))
c=a+b
d=a*b
e=a/b
f=a**2 and b**2
g=a**b
h=a-b
if a==float(a):
    print "addition:",c,"\nmultiplication:",d,"\ndivision:",e,"\nsqrt:",f,"\npow:",g,"\nsubstraction:",h

enter a number: 2.2
enter a number: 4.2
addition: 6.4
multiplication: 9.24
division: 0.52380952381
sqrt: 17.64
pow: 27.4268075692
substraction: -2.0

In [159]:
a=float(input("enter a number: "))
b=float(input("enter a number: "))
c=a+b
d=a*b
e=a/b
f=a**2 and b**2
g=a**b
h=a-b
if a==float(a):
    print "addition:",c,"\nmultiplication:",d,"\ndivision:",e,"\nsqrt:",f,"\npow:",g,"\nsubstraction:",h
else:
    print"please enter a valid type input number"

enter a number: 2.4
enter a number: 4.2
addition: 6.6
multiplication: 10.08
division: 0.571428571429
sqrt: 17.64
pow: 39.5263958022
substraction: -1.8

In [21]:
""" 53. Take actual string, source string, destination string. replce first nth occurrences of source string 
with destination string of actual string"""
a =("hyderabad")
print(a.startswith('h'))

True

In [22]:
a =("hyderabad")
print(a.startswith('h'))

True

In [25]:
a =("hyderabad")
print(a.replace(h,[m]))

NameError: name 'h' is not defined

In [26]:
a = "hyderabad is capital city"
print a.replace("is","was")

hyderabad was capital city

In [27]:
a = "hyderabad is capital city"
print a.replace("capital","big")

hyderabad is big city

In [18]:
"""" 52. names  ="emp1,emp2,emp3,emp4" iterate through the employee names"""
names = ["ramesh","raju","mahesh","arjun"]
def fun(names):
    for i in names:
        print i
fun(names)
print "iteration"
fun(names)

ramesh
raju
mahesh
arjun
iteration
ramesh
raju
mahesh
arjun

In [31]:
""" 51.    WAP> 10 -> 000010
       		100 ->  000100
      		1000 ->  001000
 		 2345678  ->  2345678"""

dec = 100
print(bin(dec))
print(oct(dec))
print(hex(dec))

0b1100100
0144
0x64

In [49]:
""" 49. find out nth occurrence of given substring"""
#a simple formula, length of original string - length of last splitted part - length of substring. For example:

def find_nth(string,substring,n):
    a = string.split(substring,n+1)
    if len(a)<=n+1:
        return -1
    return len(string)- len(a[-1])-len(substring)
find_nth('hydkjsdfh hydlsfh hydjsjlf', 'hyd', 2)

18

In [50]:
""" 48.find out third occurrence of given substring"""
a = ("hydarabad",("delhi",("mumbai")))
print a[0]

hydarabad

In [53]:
a = ("hydarabad",("delhi",("mumbai")))
print a[0]
print a[1]

hydarabad
('delhi', 'mumbai')

In [55]:
a = ("hydarabad",("delhi",("mumbai")))
print a[1][0]

delhi

In [56]:
a = ("hydarabad",("delhi",("mumbai")))
print a[1][1][3]

b

In [57]:
""" 47.  Write a program to find out biggest number in the given numbers"""
a = 10
b = 20
c = 40
if a>=b and a>=c:
    print "a value is big: ",a
elif b>=a and b>=c:
    print "b value is big: ",b
elif c>=a and c>=b:
    print "c value is big: ",c

c value is big:  40

In [58]:
""" 46. Write a program to find out big of two numbers"""
a = 10
b = 40
c = 40
if a or b >=b and a or b  >=c:
    print a,b 
elif b or c>=a and b or c>=c:
    print b,c
elif c or a>=a and c or a>=b:
    print c,a

10 40