In [1]:
def fun():
    print"thiis is fun"
class employee:
    print "this is employee"

this is employee

In [2]:
class Emp:
    a=100
    b=200

In [3]:
class Emp:
    a=100
    b=200
    print a,b

100 200

In [4]:
class Emp:
    a=100
    b=200
print a,b

NameError: name 'a' is not defined

In [5]:
class Emp:
    a=100
    b=200
print Emp.a,Emp.b

100 200

In [6]:
class Emp:
    a=100
    b=200
    def fun(x,y):
        print"x=",x,"y=",y
print Emp.a,Emp.b

100 200

In [3]:
class Emp:
    a=100
    b=200
    def fun(x,y):
        print"x=",x,"y=",y
print Emp.a,Emp.b
Emp.fun(100,200)

100 200

TypeError: unbound method fun() must be called with Emp instance as first argument (got int instance instead)

In [4]:
class Emp:
    a=100
    b=200
    def fun(x,y):
        print"x=",x,"y=",y
print Emp.a,Emp.b
emp1=Emp()
Emp.fun(emp1,200)  #first argument must be instance

100 200
x= <__main__.Emp instance at 0x7fe5fc424cf8> y= 200

In [1]:
class Emp:
    a=100
    b=200
    def fun(x,y):
        print"x=",x,"y=",y
print Emp.a,Emp.b
emp2=Emp()
Emp.fun(emp2,200)

100 200
x= <__main__.Emp instance at 0x7fe5fc424dd0> y= 200

In [8]:
class myClass:
    def method1(self):
        print "kcr"
        
    def method2(self):
        print "software testing"

In [12]:
class myClass:
    def method1(self):
        print "kcr"
        
    def method2(self):
        print "software testing" 
        
obj = myClass
obj1=obj()
obj.method1(obj1)

kcr

In [13]:
class myClass:
    def method1(self):
        print "kcr"
        
    def method2(self):
        print "hareeshrao" 
        
obj = myClass
obj1=obj()
obj2=obj()
obj.method1(obj1)
obj.method2(obj2)

kcr
hareeshrao

In [1]:
class Emp:
    a=100
    b=200
    def fun(x,y):
        print "x=",x,"y=",y
print Emp.a,Emp.b
emp1=Emp()
Emp.fun(emp1,200)

100 200
x= <__main__.Emp instance at 0x7f6388293e60> y= 200

In [4]:
class Emp:
    a=100
    b=200
    def fun(x,y):
        print "x=",x,"y=",y
print Emp.a,Emp.b
emp1=Emp()
Emp.fun(emp1,200)
print Emp.a
print Emp.b

100 200
x= <__main__.Emp instance at 0x7f6388121320> y= 200
100
200

In [5]:
class Emp:
    a=100
    b=200
    def fun(x,y):
        print "x=",x,"y=",y
print Emp.a,Emp.b
emp1=Emp()
Emp.fun(emp1,200)
print Emp.a
print Emp.b
emp1.fun(2000,3000)

100 200
x= <__main__.Emp instance at 0x7f6388121368> y= 200
100
200

TypeError: fun() takes exactly 2 arguments (3 given)

In [8]:
class Emp:                  #Emp is class object
    a=100
    b=200
    def fun(x,y):
        print "x=",x,"y=",y
print Emp.a,Emp.b
emp1=Emp()
Emp.fun(emp1,200)          
emp1.fun(200)          #emp1 is first atrribute itself
print Emp.a
print Emp.b

100 200
x= <__main__.Emp instance at 0x7f6388121830> y= 200
x= <__main__.Emp instance at 0x7f6388121830> y= 200
100
200

In [11]:
def Emp():
    print "this is emp"
    return  10
res=Emp()

this is emp

In [12]:
class Emp:
    
    a=10
    b=10
res=Emp()

In [13]:
def Emp():
    print "this is emp"
    return  10
res=Emp()

this is emp

In [14]:
class product:
    name="apple"
    cost=20
    discount=0
mango = product()
print mango.name

apple

In [16]:
class product:
    name="apple"
    cost=20
    discount=0
mango = product()
print mango.name
print mango.cost
print mango.discount
print mango                #name and cost disscounrts are product attributes

apple
20
0
<__main__.product instance at 0x7f6388162368>

In [19]:
class product:
    warehouse="kp fuit market"
    
    
mango = product()
print mango.name

AttributeError: product instance has no attribute 'name'

In [21]:
class product:
    warehouse="kp fuit market"
    
mango = product()
mango.name="boginapally mango"
mango.cost=20
mango.discount=2

print mango.name,    mango.cost,   mango.discount,   mango.warehouse

boginapally mango 20 2 kp fuit market

In [30]:
class product:
    warehouse="kp fuit market"
    
mango = product()
mango.name="boginapally mango"
mango.cost=20
mango.discount=2

print mango.name,mango.cost,mango.discount,mango.warehouse

boginapally mango 20 2 kp fuit market

In [32]:
class product:
    warehouse="kp fuit market"
    
    def get(x):
        return x.name,x.cost,x.discount,x.warehouse
    
mango = product()
mango.name="boginapally mango"
mango.cost=20
mango.discount=2

#print mango.name,mango.cost,mango.discount,mango.warehouse
print product.get(mango)

('boginapally mango', 20, 2, 'kp fuit market')

In [39]:
 def get():
        name="apple"
        cost=20
        discount=2
        warehouse="kp market"
        return
get()

In [45]:
 def get():
        name="apple"
        cost=20
        discount=2
        warehouse="kp market"
        
        print name,cost,discount,warehouse
        
get()

apple 20 2 kp market

In [46]:
 def get():
        name="apple"
        cost=20
        discount=2
        warehouse="kp market"
        return
        print name,cost,discount,warehouse
        
get()

In [47]:
 def get():
        name="apple"
        cost=20
        discount=2
        warehouse="kp market"
      
        print name,cost,discount,warehouse
        return       
get()

apple 20 2 kp market

In [48]:
class product:
    warehouse="kp fuit market"
    
    def get(x):
        return x.name,x.cost,x.discount,x.warehouse
    
mango = product()
mango.name="boginapally mango"
mango.cost=20
mango.discount=2

#print mango.name,mango.cost,mango.discount,mango.warehouse
print product.get(mango)

('boginapally mango', 20, 2, 'kp fuit market')

In [49]:
class product:
    warehouse="kp fuit market"
    
    def get(x):
        return x.name,x.cost,x.discount,x.warehouse
    
mango = product()
mango.name="boginapally mango"
mango.cost=20
mango.discount=2

#print mango.name,mango.cost,mango.discount,mango.warehouse
print product.get(mango)


orange=product()
orange.name="orange"
orange.cost=40
orange.discount=4

print product.get(orange)

('boginapally mango', 20, 2, 'kp fuit market')
('orange', 40, 4, 'kp fuit market')

In [51]:
class product:
    warehouse="kp fuit market"
    
    def get(x):
        return x.name,x.cost,x.discount,x.warehouse
    
mango = product()
mango.name="boginapally mango"
mango.cost=20
mango.discount=2

#print mango.name,mango.cost,mango.discount,mango.warehouse
print product.get(mango)


orange=product()
orange.name="orange"
orange.cost=40
orange.discount=4

#print product.get(orange)
print orange.get()

('boginapally mango', 20, 2, 'kp fuit market')
('orange', 40, 4, 'kp fuit market')

In [58]:
#class object
#data object

class Emp:                               # Emp is class obect and company name is class object attribute
    companyname="kyaathi"
    companyadress="maithrivanam"

anil=Emp()              #first we should creat itslef emp()
pavan=Emp()             #anil and pavan are data objects and anil.name anil.age....are dataobject attribute                
anil.name="anil kumar"
anil.age=23
anil.salary=80000
pavan.name="pavan kumar"
pavan.age=24
pavan.salary=90000

print Emp.companyname
print Emp.companyadress

kyaathi
maithrivanam

In [60]:
#class object
#data object

class Emp:                               # Emp is class obect and company name is class object attribute
    companyname="kyaathi"
    companyadress="maithrivanam"

anil=Emp()              #first we should creat itslef emp()
pavan=Emp()             #anil and pavan are data objects and anil.name anil.age....are dataobject attribute                
anil.name="anil kumar"
anil.age=23
anil.salary=80000
pavan.name="pavan kumar"
pavan.age=24
pavan.salary=90000

print Emp.companyname
print Emp.companyadress
print anil.companyadress
print pavan.companyadress
print anil.companyname
print pavan.companyname
print anil.companyadress
print anil.name
print anil.age
print pavan.name
print pavan.age

kyaathi
maithrivanam
maithrivanam
maithrivanam
kyaathi
kyaathi
maithrivanam
anil kumar
23
pavan kumar
24

In [61]:
#class object
#data object

class Emp:                               
    companyname="kyaathi"
    companyadress="maithrivanam"

anil=Emp()             
pavan=Emp()                            
anil.name="anil kumar"
anil.age=23
anil.salary=80000
pavan.name="pavan kumar"
pavan.age=24
pavan.salary=90000

print Emp.companyname
print Emp.companyadress
print anil.companyadress
print pavan.companyadress
print anil.companyname
print pavan.companyname
print anil.companyadress
print anil.name
print Emp.name

kyaathi
maithrivanam
maithrivanam
maithrivanam
kyaathi
kyaathi
maithrivanam
anil kumar

AttributeError: class Emp has no attribute 'name'

In [62]:
class Emp:                               
    companyname="kyaathi"
    companyadress="maithrivanam"

anil=Emp()             
pavan=Emp()                            
anil.name="anil kumar"
print anil.name
print pavan.name

anil kumar

AttributeError: Emp instance has no attribute 'name'

In [64]:
class Emp:                               
    companyname="kyaathi"
    companyadress="maithrivanam"
    def get(x):
        print x.name,x.age,x.sal,x.companyname,x.companyadress

anil=Emp()             
pavan=Emp()                            
anil.name="anil kumar"
anil.age=23
anil.sal=80000
pavan.name="pavan kumar"
pavan.age=24
pavan.sal=90000

print Emp.get(anil)
print Emp.get(pavan)

 anil kumar 23 80000 kyaathi maithrivanam
None
pavan kumar 24 90000 kyaathi maithrivanam
None

In [66]:
class Emp:                               
    companyname="kyaathi"
    companyadress="maithrivanam"
    def get(x):
        print x.name,x.age,x.sal,x.companyname,x.companyadress
anil=Emp()             
pavan=Emp()                            
anil.name="anil kumar"
anil.age=23
anil.sal=80000
pavan.name="pavan kumar"
pavan.age=24
pavan.sal=90000
#print Emp.get(anil)
print anil.get()
#print Emp.get(pavan)
print pavan.get()

anil kumar 23 80000 kyaathi maithrivanam
None
pavan kumar 24 90000 kyaathi maithrivanam
None

In [67]:
class Emp:                               
    companyname="kyaathi"
    companyadress="maithrivanam"
    def get(x):
        print x.name,x.age,x.sal,x.companyname,x.companyadress
anil=Emp()             
pavan=Emp()                            
anil.name="anil kumar"
anil.age=23
anil.sal=80000
pavan.name="pavan kumar"
pavan.age=24
pavan.sal=90000

print anil.get()

print pavan.get()

anil kumar 23 80000 kyaathi maithrivanam
None
pavan kumar 24 90000 kyaathi maithrivanam
None

In [68]:
class Emp:                               
    companyname="kyaathi"
    companyadress="maithrivanam"
    def set_data(self, e_name, e_age, e_sal):         #self is attribute itself
        self.name=e_name
        self.age=e_age
        self.sal=e_sal
        
    def get(self):
        return self.name, self.age, self.sal, self.companyname, self.companyadress
    
        
anil=Emp()             
pavan=Emp()

anil.set_data("anil kumar",23,80000)

"""
anil.name="anil kumar"
anil.age=23
anil.sal=80000
"""

pavan.set_data("pavan kumar",24,90000)

"""
pavan.name="pavan kumar"
pavan.age=24
pavan.sal=90000
"""

print anil.get()

print pavan.get()

('anil kumar', 23, 80000, 'kyaathi', 'maithrivanam')
('pavan kumar', 24, 90000, 'kyaathi', 'maithrivanam')

In [70]:
class Emp:                               
    companyname="kyaathi"
    companyadress="maithrivanam"
    def set_data(self, e_name, e_age, e_sal):         #self is attribute itself
        self.name=e_name
        self.age=e_age
        self.sal=e_sal
        
    def get(self):
        return self.name, self.age, self.sal, self.companyname, self.companyadress
    
        
anil=Emp()             
pavan=Emp()

anil.set_data("anil kumar",23,80000)
pavan.set_data("pavan kumar",24,90000)

print anil.get()
print pavan.get()

('anil kumar', 23, 80000, 'kyaathi', 'maithrivanam')
('pavan kumar', 24, 90000, 'kyaathi', 'maithrivanam')

In [71]:
class Emp:                               
    companyname="kyaathi"
    companyadress="maithrivanam"
    def set_data(self, e_name, e_age, e_sal):         #self is attribute itself
        self.name=e_name
        self.age=e_age
        self.sal=e_sal
        
    def get(self):
        return self.name, self.age, self.sal, self.companyname, self.companyadress
    
        
anil=Emp()             
pavan=Emp()
jay=Emp()

anil.set_data("anil kumar",23,80000)
pavan.set_data("pavan kumar",24,90000)

print anil.get()
print pavan.get()
print jay.get()

('anil kumar', 23, 80000, 'kyaathi', 'maithrivanam')
('pavan kumar', 24, 90000, 'kyaathi', 'maithrivanam')

AttributeError: Emp instance has no attribute 'name'

In [74]:

class Emp:
    print "this is class"
    def get(self):
        print "this is get"
    def __init__(self):
        print "this is init"

this is class

In [76]:

class Emp:
    print "this is class"
    def get(self):
        print "this is get"
    def __init__(self):
        print "this is init"
        
anil=Emp()  
           # when we assigning any vlaue to class it self its is first attribut and next it executs __init__() value

this is class
this is init

In [77]:
class Emp:
    print "this is class"
    def get(self):
        print "this is get"
    def __init_(self):
        print "this is init"
        
anil=Emp()

this is class

In [78]:
class Emp:
    print "this is class"
    def get(self):
        print "this is get"
    def __init1__(self):
        print "this is init"
        
anil=Emp()

this is class

In [80]:
class Emp:
    print "this is class"
    companyname="kyaathi"
    companyadress="maithrivanam"
    def get(self):
        print "this is get"
        return self.name, self.age, self.height, self.companyname, self.companyadress
    
    def __init__(self, e_name, e_age, e_height):
        #constructor.  To intilize data while creating an instance,
        print "this is init"
        self.name=e_name
        self.age=e_age
        self.height=e_height
        
anil=Emp("anil kumar",23,4.2)
pavan=Emp("pavan kumar",24,4.6)

print anil.get()
print pavan.get()

this is class
this is init
this is init
this is get
('anil kumar', 23, 4.2, 'kyaathi', 'maithrivanam')
this is get
('pavan kumar', 24, 4.6, 'kyaathi', 'maithrivanam')

In [81]:
class Emp:
    print "this is class"
    companyname="kyaathi"
    companyadress="maithrivanam"
    def get(self):
        print "this is get"
        return self.name, self.age, self.height, self.companyname, self.companyadress
    
    def __init__(self, e_name, e_age, e_height):
        #constructor.  To intilize data while creating an instance,
        print "this is init"
        self.name=e_name
        self.age=e_age
        self.height=e_height
        
anil=Emp("anil kumar",23,4.2)
pavan=Emp("pavan kumar",24,4.6)
jay=Emp()

print anil.get()
print pavan.get()

this is class
this is init
this is init

TypeError: __init__() takes exactly 4 arguments (1 given)

In [82]:
class Emp:
    print "this is class"
    companyname="kyaathi"
    companyadress="maithrivanam"
    def get(self):
        print "this is get"
        return self.name, self.age, self.height, self.companyname, self.companyadress
    
    def __init__(self, e_name, e_age, e_height):
        #constructor.  To intilize data while creating an instance,
        print "this is init"
        self.name=e_name
        self.age=e_age
        self.height=e_height
        
anil=Emp("anil kumar",23,4.2)
pavan=Emp("pavan kumar",24,4.6)

print anil.get()
print pavan.get()

this is class
this is init
this is init
this is get
('anil kumar', 23, 4.2, 'kyaathi', 'maithrivanam')
this is get
('pavan kumar', 24, 4.6, 'kyaathi', 'maithrivanam')