In [1]:
a = "python programmin"
a[1]

'y'

In [2]:
a[2]

't'

In [3]:
a[-1]

'n'

In [4]:
a[-3]

'm'

In [5]:
print len(a)

17

In [6]:
a = "python programming"
a[13]

'm'

In [8]:
a = "python programming"
a[18]

IndexError: string index out of range

In [11]:
a = "python programming"
print a[0]+a[1]+a[2]+a[3]

pyth

In [12]:
a = "python programming"
print a[3:8]

hon p

In [13]:
a = "python programming"
print a[:8]

python p

In [14]:
a = "python programming"
print a[3:]

hon programming

In [15]:
a = "python programming"
print a[:]

python programming

In [16]:
a = "python programming"
print a[1:8:2]

yhnp

In [17]:
a = "python programming"
print a[::2]

pto rgamn

In [19]:
a = "python programming"
print a[1:8:3]

yop

In [20]:
a = "python programming"
print a[1:8:30]

y

In [22]:
a = "python programming"
print a[2:4:-1]

In [23]:
a = "python programming"
print a[30:40]

In [24]:
s[30]

NameError: name 's' is not defined

In [25]:
a = "python programming"
print a[2:4:-1]

In [26]:
a = "python programming"
print a[-1:-10:2]

In [27]:
a = "python programming"
print a[-1:-10:-2]

gimro

In [28]:
a = "python programming"
print a[8:2]

In [29]:
a = "python programming"
print a[8:2:-2]

r o

In [30]:
a = "python programming"
print a[13:2:-1]

margorp noh

In [31]:
a = "python programming"
print a[13:2:-4]

mon

In [32]:
a = "python programming"
print a[::-1]

gnimmargorp nohtyp

In [33]:
a = "python programming"
print a[6:-2]

 programmi

In [34]:
a = "python programming"
print a[6:-2:-1]

In [35]:
a = "python programming"
print a[2:-2]

thon programmi

In [36]:
a = "python programming"
print a[8:-1]

rogrammin

In [37]:
a = "python programming"
print a[8:-1:2]

rgamn

In [38]:
a = "python programming"
print a[8:-1:-2]

In [39]:
a = "python programming"
print a[-8:-1:-2]

In [40]:
a = "python programming"
print a[-8:-1:-2]

grammi

In [41]:
a = "python programming"
print a[-8:2:-2]

gr o

In [42]:
a = "python programming"
print a[0:4]

pyth

In [43]:
a = "python programming"
print a[-1:-6]

In [44]:
a = "python programming"
print a[0:4]+a[5:]

pythn programming

In [45]:
a = "python programming"
print a[::-1]

gnimmargorp nohtyp

In [47]:
# starts from -1 value
a = "python programming"
print a[::-2]

gimropnhy

In [48]:
a = "python programming"
print a[::-4]

gmony

In [50]:
a = "python programming"
print a[:2:-1]

gnimmargorp noh

In [51]:
a = "python programming"
print a[::-13]

go

In [52]:
a = "python programming"
print a[::-4]

gmony

In [53]:
a = "python programming"
print a[::-2]

gimropnhy

In [1]:
a = "python programming"
print a[1:13:-1]

In [2]:
a = "python programming"
print a[13:1:-1]

margorp noht

In [4]:
a = "python programming"
print a[-1:-10:2]

In [3]:
 a="hydarabad is Capital"
print a.upper()

HYDARABAD IS CAPITAL

In [4]:
a ="1234"
print a.isupper

<built-in method isupper of str object at 0x7f16000876c0>

In [5]:
a ="AB1234"
print a.isupper()

True

In [6]:
a =""
print a.isupper()

False

In [8]:
a = "hyderabad is capital city"
print a.title()

Hyderabad Is Capital City

In [9]:
a = "hyderabad is caPital cITY"
print a.title()

Hyderabad Is Capital City

In [10]:
a = "@#hyderabad is caP#ital cI&TY"
print a.title()

@#Hyderabad Is Cap#Ital Ci&Ty

In [11]:
a = "@#hyderabad is caP#ital cI&TY"
print a.count("")

30

In [13]:
a = "@#hyderabad is caP#ital cI&TY"
print a.replace("","hy")

hy@hy#hyhhyyhydhyehyrhyahybhyahydhy hyihyshy hychyahyPhy#hyihythyahylhy hychyIhy&hyThyYhy

In [1]:
#take the string from user and check whether it contains atleast one cpital letter or not
a = "HYDERABAD"
print a.upper()

HYDERABAD

In [2]:
print a.isupper()

True

In [3]:
print a.lower()
print a.islower()

hyderabad
False

In [4]:
a ="HYDERABAD1234"
print a.isupper()

True

In [6]:
a ="1234"
print a.isupper()

False

In [7]:
a = "hyderabad1234"
print a.isupper()

False

In [8]:
a.isupper?

In [9]:
a = "hyderabad is BIG city"
for char in a:
    print char

h
y
d
e
r
a
b
a
d

i
s

B
I
G

c
i
t
y

In [13]:
a = "hyderabad"
for char in a:
        print char

h
y
d
e
r
a
b
a
d

In [14]:
a =("1234abc")
print a.isupper()

False

In [15]:
a =("1234@#$")
print a.isupper()

False

In [16]:
a =("1234@#$ABC")
print a.isupper()

True

In [17]:
a =("1234@#$Abc")
print a.isupper()

False

In [18]:
a =("@#$ABC")
print a.isupper()

True

In [19]:
a.isupper?

In [20]:
a ="hyderabad"
print a.isupper()

False

In [23]:
a.isupper?

In [24]:
a=" "
a.isupper()

False

In [25]:
a=""
a.isupper()

False

In [40]:
a = " hyderabad is capital city"
a.title?

In [43]:
a.title?

In [44]:
a.title()

' Hyderabad Is Capital City'

In [45]:
a = " hyderabad is capITal cITy@#$"
a.title()

' Hyderabad Is Capital City@#$'

In [46]:
a = " hyderabad is capital CITY"
a.title()

' Hyderabad Is Capital City'

In [47]:
a = "#$hyderabad is capital CITY"
a.title()

'#$Hyderabad Is Capital City'

In [50]:
a = "#$hyder%abad is cap2ital CITY"   #it takes capital letter after any special char and numbers
a.title()

'#$Hyder%Abad Is Cap2Ital City'

In [51]:
a = "hyderabad is capital city and hyderabad is metro city"
a.count?

In [53]:
a.count("is")

2

In [54]:
print a.count('hyderabad')

2

In [59]:
print a.count('t')

4

In [60]:
print a.count('a')

7

In [61]:
print a.count('IS')

0

In [62]:
print a.swapcase?

In [63]:
print a.swapcase()

HYDERABAD IS CAPITAL CITY AND HYDERABAD IS METRO CITY

In [65]:
s = "hyderabad IS CAPITAL city"
print s.swapcase()                #return as string and write lower into upper and viceversa

HYDERABAD is capital CITY

In [67]:
s = "@#hyderabad IS CAPITAL city1234"
print s.swapcase()

@#HYDERABAD is capital CITY1234

In [68]:
s = "1234"
print s.swapcase()

1234

In [69]:
s = "@#$%"
print s.swapcase()

@#$%

In [73]:
s = "hyderabad is capital and metro city"
sub=raw_input("enter a substring for count in string: ")
print s.count(sub)

enter a substring for count in string: capital
1

In [74]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
print s.count(sub)

enter a substring for count in string: hyderabad
2

In [75]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
print s_l.count(sub_l)

enter a substring for count in string: hyderabad
2

In [76]:
# if input is in big letters it converts into small letters
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
print s_l.count(sub_l)

enter a substring for count in string: HYDERABAD
2

In [77]:
#if ther is withous convert s.lower() and sub.lower()
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
print s.count(sub)

enter a substring for count in string: HYDERABAD
0

In [78]:
# if input is in big letters it converts into small letters
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
print s_l.count(sub_l)

enter a substring for count in string: HYDERABAD
2

In [80]:
# if input is in big letters it converts into small letters
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
print s
print sub_l
print s_l.count(sub_l)

enter a substring for count in string: HYDERABAD
hyderabad is capital and hyderabad metro city
hyderabad
2

In [81]:
s = "hyderabad  is capital and hyderabad metro city"
print len(s)

45

In [93]:
print len(" ")

1

In [88]:
print len(s)

45

In [91]:
print s.count("")

46

In [92]:
# in the above observe len(s) and s.count("")