In [3]:
import keyword
keyword.kwlist

['and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'exec',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'not',
 'or',
 'pass',
 'print',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [4]:
#variables names should be in small letters, it could not start with numbers

In [5]:
fruit_name = "apple"
fruit_cost = 20
print fruit_name,"cost is ",fruit_cost

apple cost is  20

In [6]:
fruit_name = "apple"
fruit_cost = 20
print fruit_name,"cost is ",+ str(fruit_cost)

apple cost is

TypeError: bad operand type for unary +: 'str'

In [11]:
name = "anil"
age = 23
height = 5.67895
weight = 70.42
print "the person name is:",name, "    his age is: ",age , "  his height is:",height, " his weight is:",weight

the person name is: anil     his age is:  23   his height is: 5.67895  his weight is: 70.42

In [18]:
name = "anil"
age = 23
height = 5.67895
weight = 70.42
print "the person name is:",name, "his details are: ", 'weight is ='+str(weight), "height is="+str(height), "age is = "+str(age)

the person name is: anil his details are:  weight is =70.42 height is=5.67895 age is = 23

In [16]:
print "the person details are weight: "+str(weight),

 the person details are weight: 70.42

In [17]:
print "the person details are weight: "+str(height),

the person details are weight: 5.67895

In [21]:
name = "anil"
age = 23
height = 5.67895
weight = 70.42
print "the person name is:",name, "his details are: ", 'weight is ='+str(weight),\
"height is="+str(height), "age is = "+str(age)

the person name is: anil his details are:  weight is =70.42 height is=5.67895 age is = 23

In [22]:
# special purpose symbols in strings
a = "sachin\n is good player"
print a

sachin
 is good player

In [23]:
#its cool day in hyderabad
a = "its cool day\n in hyderabad "
print a

its cool day
 in hyderabad

In [24]:
a = 'it's cool day in hyderabad '
print a

SyntaxError: invalid syntax (<ipython-input-24-7aa74e7d06bc>, line 1)

In [28]:
a = "it's cool day in\n "hyderabad\n". "
print a

SyntaxError: invalid syntax (<ipython-input-28-6b949fdf62c5>, line 1)

In [36]:
apple_cost = 20
print "cost of products:","%s"%apple_cost

cost of products: 20

In [30]:
#formate specifiers

In [31]:
print "%o"%1234

2322

In [32]:
print oct(1234)

02322

In [37]:
height = 10.24
print "the person details:%d"%height

the person details:10

In [38]:
print "the person details:%f"%height

the person details:10.240000

In [39]:
print "the person details:%s"%height

the person details:10.24