In [1]:
a = 10
b = 20
print a+b

30

In [2]:
a = 10
b = 20.02
c = a+2j
print(type(a))
print(type(b))
print(type(c))

<type 'int'>
<type 'float'>
<type 'complex'>

In [3]:
a = 'hello world'
print(a)

hello world

In [4]:
print"virat kohli"

virat kohli

In [8]:
a = 10
b = 20
print a+b
print a*b
print a/b
print a%b
print a**2 #square root (10)2
print b**3 #queb

30
200
0
10
100
8000

In [16]:
a = "hello world"
print(a)
print(type(a))
print(len(a))
print(a[2])

hello world
<type 'str'>
11
l

In [ ]:
a = 20
b = 40
print a<b
print a>b

In [ ]:
name = raw_input("enter your name: ")
age = raw_input("enter yourage: ")
print name

In [ ]:
a = 10 
b = 20
c = 40
d = a
e = c
f = 60

print a
print b
print c
print d
print e 
print f

In [1]:
a = 1
b = 2
print a+b

3

In [3]:
a = 10
b = 20 
c = 40
d = c
e = b
f = 80
g = f
h = 200
b = 800
h = 600
print a
print b
print c
print d 
print e
print f
print g
print h
print b
print h

10
800
40
40
20
80
80
600
800
600

In [8]:
# (a+b)2   , #  this **  is power root
a = 2
b = 4
print (a+b)**2
print a**2+b**2+2*a*b

36
36

In [3]:
# (a+b)3
a = 2
b = 6
print (a+b)**3

512

In [9]:
# (a+b)3   , is in anothor formula = (a)3 +(b)3+3ab(a+b)
a = 2
b = 6
print a**3 + b**3 + 3*a*b*a+b
print a**3 + b**3 + 3*a*b*(a+b)

302
512

In [10]:
print a/b

0

In [11]:
print float(a/b)

0.0

In [13]:
print  a==b

False

In [17]:
print a>b
print a<b

False
True

In [18]:
a = "kohli is "
b = "is good player"
print a+b

kohli is is good player

In [29]:
a = 2
b = 4.6
print a+b

6.6

In [25]:
a = "kohli"
b = " is good player"
print a+b

kohli is good player

In [2]:
a = 2
b = 6
a*b

12

In [6]:
a = 'kohli is good player'
print a

kohli is good player

In [7]:
Celsius = int(raw_input("Enter a temperature in Celsius: "))

Fahrenheit = 9.0/5.0 * Celsius + 32

print "Temperature:", Celsius, "Celsius = ", Fahrenheit, " F"

Enter a temperature in Celsius: 26
Temperature: 26 Celsius =  78.8  F

In [11]:
celsius = int(raw_input('enter a temperature in celsius: '))
fahrenheit = celsius*1.8+32
print "temperature in :", celsius,"celsius =",fahrenheit,"f"

enter a temperature in celsius: 40
temperature in : 40 celsius = 104.0 f

In [19]:
fahrenheit = float(raw_input('enter a temperature value in fahrenheit: '))
celsius = (fahrenheit-32)*1.8
print "temperature: ",fahrenheit, "fahrenheit= ",celsius,"c"

enter a temperature value in fahrenheit: 220
temperature:  220.0 fahrenheit=  338.4 c

In [20]:
celsius = int(raw_input('enter a temperature value in celsius: '))
fahrenheit = celsius*1.8+32
print "temperature value: ",celsius,"celsius = ",fahrenheit,"f"

enter a temperature value in celsius: 20
temperature value:  20 celsius =  68.0 f

In [21]:
a = int(raw_input("enter a name:"))
b = int(raw_input('enter a home:'))
print a+b

enter a name:kcr

ValueError: invalid literal for int() with base 10: 'kcr'

In [4]:
a = str(raw_input("enter a name: "))
b = str(raw_input(" enter a home:"))
print a+b

enter a name: kcr from
 enter a home: hyderabad
kcr from   hyderabad