In [1]:
a = "python programmin"
a[1]

'y'

In [2]:
a[2]

't'

In [3]:
a[-1]

'n'

In [4]:
a[-3]

'm'

In [5]:
print len(a)

17

In [6]:
a = "python programming"
a[13]

'm'

In [8]:
a = "python programming"
a[18]

IndexError: string index out of range

In [11]:
a = "python programming"
print a[0]+a[1]+a[2]+a[3]

pyth

In [12]:
a = "python programming"
print a[3:8]

hon p

In [13]:
a = "python programming"
print a[:8]

python p

In [14]:
a = "python programming"
print a[3:]

hon programming

In [15]:
a = "python programming"
print a[:]

python programming

In [16]:
a = "python programming"
print a[1:8:2]

yhnp

In [17]:
a = "python programming"
print a[::2]

pto rgamn

In [19]:
a = "python programming"
print a[1:8:3]

yop

In [20]:
a = "python programming"
print a[1:8:30]

y

In [22]:
a = "python programming"
print a[2:4:-1]

In [23]:
a = "python programming"
print a[30:40]

In [24]:
s[30]

NameError: name 's' is not defined

In [25]:
a = "python programming"
print a[2:4:-1]

In [26]:
a = "python programming"
print a[-1:-10:2]

In [27]:
a = "python programming"
print a[-1:-10:-2]

gimro

In [28]:
a = "python programming"
print a[8:2]

In [29]:
a = "python programming"
print a[8:2:-2]

r o

In [30]:
a = "python programming"
print a[13:2:-1]

margorp noh

In [31]:
a = "python programming"
print a[13:2:-4]

mon

In [32]:
a = "python programming"
print a[::-1]

gnimmargorp nohtyp

In [33]:
a = "python programming"
print a[6:-2]

 programmi

In [34]:
a = "python programming"
print a[6:-2:-1]

In [35]:
a = "python programming"
print a[2:-2]

thon programmi

In [36]:
a = "python programming"
print a[8:-1]

rogrammin

In [37]:
a = "python programming"
print a[8:-1:2]

rgamn

In [38]:
a = "python programming"
print a[8:-1:-2]

In [39]:
a = "python programming"
print a[-8:-1:-2]

In [40]:
a = "python programming"
print a[-8:-1:-2]

grammi

In [41]:
a = "python programming"
print a[-8:2:-2]

gr o

In [42]:
a = "python programming"
print a[0:4]

pyth

In [43]:
a = "python programming"
print a[-1:-6]

In [44]:
a = "python programming"
print a[0:4]+a[5:]

pythn programming

In [45]:
a = "python programming"
print a[::-1]

gnimmargorp nohtyp

In [47]:
# starts from -1 value
a = "python programming"
print a[::-2]

gimropnhy

In [48]:
a = "python programming"
print a[::-4]

gmony

In [50]:
a = "python programming"
print a[:2:-1]

gnimmargorp noh

In [51]:
a = "python programming"
print a[::-13]

go

In [52]:
a = "python programming"
print a[::-4]

gmony

In [53]:
a = "python programming"
print a[::-2]

gimropnhy

In [1]:
a = "python programming"
print a[1:13:-1]

In [2]:
a = "python programming"
print a[13:1:-1]

margorp noht

In [4]:
a = "python programming"
print a[-1:-10:2]

In [3]:
 a="hydarabad is Capital"
print a.upper()

HYDARABAD IS CAPITAL

In [4]:
a ="1234"
print a.isupper

<built-in method isupper of str object at 0x7f16000876c0>

In [5]:
a ="AB1234"
print a.isupper()

True

In [6]:
a =""
print a.isupper()

False

In [8]:
a = "hyderabad is capital city"
print a.title()

Hyderabad Is Capital City

In [9]:
a = "hyderabad is caPital cITY"
print a.title()

Hyderabad Is Capital City

In [10]:
a = "@#hyderabad is caP#ital cI&TY"
print a.title()

@#Hyderabad Is Cap#Ital Ci&Ty

In [11]:
a = "@#hyderabad is caP#ital cI&TY"
print a.count("")

30

In [13]:
a = "@#hyderabad is caP#ital cI&TY"
print a.replace("","hy")

hy@hy#hyhhyyhydhyehyrhyahybhyahydhy hyihyshy hychyahyPhy#hyihythyahylhy hychyIhy&hyThyYhy

In [1]:
#take the string from user and check whether it contains atleast one cpital letter or not
a = "HYDERABAD"
print a.upper()

HYDERABAD

In [2]:
print a.isupper()

True

In [3]:
print a.lower()
print a.islower()

hyderabad
False

In [4]:
a ="HYDERABAD1234"
print a.isupper()

True

In [6]:
a ="1234"
print a.isupper()

False

In [7]:
a = "hyderabad1234"
print a.isupper()

False

In [8]:
a.isupper?

In [9]:
a = "hyderabad is BIG city"
for char in a:
    print char

h
y
d
e
r
a
b
a
d

i
s

B
I
G

c
i
t
y

In [13]:
a = "hyderabad"
for char in a:
        print char

h
y
d
e
r
a
b
a
d

In [14]:
a =("1234abc")
print a.isupper()

False

In [15]:
a =("1234@#$")
print a.isupper()

False

In [16]:
a =("1234@#$ABC")
print a.isupper()

True

In [17]:
a =("1234@#$Abc")
print a.isupper()

False

In [18]:
a =("@#$ABC")
print a.isupper()

True

In [19]:
a.isupper?

In [20]:
a ="hyderabad"
print a.isupper()

False

In [23]:
a.isupper?

In [24]:
a=" "
a.isupper()

False

In [25]:
a=""
a.isupper()

False

In [40]:
a = " hyderabad is capital city"
a.title?

In [43]:
a.title?

In [44]:
a.title()

' Hyderabad Is Capital City'

In [45]:
a = " hyderabad is capITal cITy@#$"
a.title()

' Hyderabad Is Capital City@#$'

In [46]:
a = " hyderabad is capital CITY"
a.title()

' Hyderabad Is Capital City'

In [47]:
a = "#$hyderabad is capital CITY"
a.title()

'#$Hyderabad Is Capital City'

In [50]:
a = "#$hyder%abad is cap2ital CITY"   #it takes capital letter after any special char and numbers
a.title()

'#$Hyder%Abad Is Cap2Ital City'

In [51]:
a = "hyderabad is capital city and hyderabad is metro city"
a.count?

In [53]:
a.count("is")

2

In [54]:
print a.count('hyderabad')

2

In [59]:
print a.count('t')

4

In [60]:
print a.count('a')

7

In [61]:
print a.count('IS')

0

In [62]:
print a.swapcase?

In [63]:
print a.swapcase()

HYDERABAD IS CAPITAL CITY AND HYDERABAD IS METRO CITY

In [65]:
s = "hyderabad IS CAPITAL city"
print s.swapcase()                #return as string and write lower into upper and viceversa

HYDERABAD is capital CITY

In [67]:
s = "@#hyderabad IS CAPITAL city1234"
print s.swapcase()

@#HYDERABAD is capital CITY1234

In [68]:
s = "1234"
print s.swapcase()

1234

In [69]:
s = "@#$%"
print s.swapcase()

@#$%

In [73]:
s = "hyderabad is capital and metro city"
sub=raw_input("enter a substring for count in string: ")
print s.count(sub)

enter a substring for count in string: capital
1

In [74]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
print s.count(sub)

enter a substring for count in string: hyderabad
2

In [75]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
print s_l.count(sub_l)

enter a substring for count in string: hyderabad
2

In [76]:
# if input is in big letters it converts into small letters
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
print s_l.count(sub_l)

enter a substring for count in string: HYDERABAD
2

In [77]:
#if ther is withous convert s.lower() and sub.lower()
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
print s.count(sub)

enter a substring for count in string: HYDERABAD
0

In [78]:
# if input is in big letters it converts into small letters
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
print s_l.count(sub_l)

enter a substring for count in string: HYDERABAD
2

In [80]:
# if input is in big letters it converts into small letters
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
print s
print sub_l
print s_l.count(sub_l)

enter a substring for count in string: HYDERABAD
hyderabad is capital and hyderabad metro city
hyderabad
2

In [81]:
s = "hyderabad  is capital and hyderabad metro city"
print len(s)

45

In [93]:
print len(" ")

1

In [88]:
print len(s)

45

In [91]:
print s.count("")

46

In [92]:
# in the above observe len(s) and s.count("")

In [1]:
a = "hyderabadcapitalcity"
print len(a)

20

In [2]:
print a.replace("hyderabad","HYDERABAD")

HYDERABADcapitalcity

In [3]:
a = "hyderabad capitalcity"
print a.replace("hyderabad"," ")

  capitalcity

In [4]:
a = "hyderabad capitalcity"
print a.replace("hyderabad","")

 capitalcity

In [6]:
print a.replace("","hyderabad")
# ech char is replce with full string before charector and after charector

hyderabadhhyderabadyhyderabaddhyderabadehyderabadrhyderabadahyderabadbhyderabadahyderabaddhyderabad hyderabadchyderabadahyderabadphyderabadihyderabadthyderabadahyderabadlhyderabadchyderabadihyderabadthyderabadyhyderabad

In [9]:
a = "hyde bad"
print a.replace(" ","ra")

hyderabad

In [10]:
a = "hyderabad"
print a.replace("","hyderabad")

hyderabadhhyderabadyhyderabaddhyderabadehyderabadrhyderabadahyderabadbhyderabadahyderabaddhyderabad

In [12]:
# hear "" and " " are not equal
print ""==" "

False

In [13]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
print s
print sub_l
print s_l.count(sub_l)

enter a substring for count in string: HYDERABAD
hyderabad is capital and hyderabad metro city
hyderabad
2

In [14]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
print s
print sub_l
print s_l.count(sub_l)

enter a substring for count in string:
hyderabad is capital and hyderabad metro city

46

In [15]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
print s
print sub_l
print s_l.count(sub_l)

enter a substring for count in string: ""
hyderabad is capital and hyderabad metro city
""
0

In [16]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
print s
print sub_l
print s_l.count(sub_l)

enter a substring for count in string: hyderabad
hyderabad is capital and hyderabad metro city
hyderabad
2

In [17]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
print s
print sub_l
print s_l.count(sub_l)

enter a substring for count in string: is
hyderabad is capital and hyderabad metro city
is
1

In [19]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
print s
print sub_l
print s_l.count(sub_l)

enter a substring for count in string: b
hyderabad is capital and hyderabad metro city
b
2

In [20]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
print s
print sub_l
print s_l.count(sub_l)
# there if raw_input is not entered

enter a substring for count in string:
hyderabad is capital and hyderabad metro city

46

In [23]:
s = "hyderabad is capital and hyderabad metro city"
print s.replace("","h")

hhhyhdhehrhahbhahdh hihsh hchahphihthahlh hahnhdh hhhyhdhehrhahbhahdh hmhehthrhoh hchihthyh

In [24]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if sub_l=="":
    print "please give valid string :atleast one charecter"
else:
    print  s_l.count(sub_l)

enter a substring for count in string: hyderabad
2

In [25]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if sub_l=="":
    print "please give valid string :atleast one charecter"
else:
    print  s_l.count(sub_l)

enter a substring for count in string: ""
0

In [26]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if sub_l=="":
    print "please give valid string :atleast one charecter"
else:
    print  s_l.count(sub_l)
# hear "" means  the raw_input is empty

enter a substring for count in string:
please give valid string :atleast one charecter

In [27]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if sub_l=="":
    print "please give valid string :atleast one charecter"
else:
    print  s_l.count(sub_l)

enter a substring for count in string: is
1

In [28]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if sub_l=="":
    print "please give valid string :atleast one charecter"
else:
    print  s_l.count(sub_l)

enter a substring for count in string: b
2

In [29]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if sub_l=="":
    print "please give valid string :atleast one charecter"
else:
    print  s_l.count(sub_l)

enter a substring for count in string: d
5

In [30]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if sub_l=="":
    print "please give valid string :atleast one charecter"
else:
    print  s_l.count(sub_l)

enter a substring for count in string: a
7

In [31]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if sub_l=="":
    print "please give valid string :atleast one charecter"
else:
    print  s_l.count(sub_l)

enter a substring for count in string: h
2

In [32]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if sub_l=="":
    print "please give valid string :atleast one charecter"
else:
    print  s_l.count(sub_l)

enter a substring for count in string:
please give valid string :atleast one charecter

In [33]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if sub_l=="":
    print "please give valid string :atleast one charecter"
else:
    print  s_l.count(sub_l)

enter a substring for count in string:
please give valid string :atleast one charecter

In [34]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if sub_l=="":
    print "please give valid string :atleast one charecter"
else:
    print  s_l.count(sub_l)

enter a substring for count in string:
please give valid string :atleast one charecter

In [35]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if sub_l=="":
    print "please give valid string :atleast one charecter"
else:
    print  s_l.count(sub_l)

enter a substring for count in string:
please give valid string :atleast one charecter

In [36]:
len(" ")

1

In [37]:
len("    ")

4

In [38]:
len("")

0

In [40]:
bool("")

False

In [41]:
bool(" ")

True

In [42]:
bool("kjhfdkjas")

True

In [43]:
#we can also write using boolean operation 
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if bool(sub_l):
    print  s_l.count(sub_l)
else:
    print "please give valid string :atleast one charecter"

enter a substring for count in string: hyderabad
2

In [44]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if bool(sub_l):
    print  s_l.count(sub_l)
else:
    print "please give valid string :atleast one charecter"

enter a substring for count in string:
please give valid string :atleast one charecter

In [45]:
#and also we can write direct:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if (sub_l):
    print  s_l.count(sub_l)
else:
    print "please give valid string :atleast one charecter"

enter a substring for count in string: hyderabad
2

In [46]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if (sub_l):
    print  s_l.count(sub_l)
else:
    print "please give valid string :atleast one charecter"

enter a substring for count in string:
please give valid string :atleast one charecter

In [47]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if (sub_l):
    print  s_l.count(sub_l)
else:
    print "please give valid string :atleast one charecter"

enter a substring for count in string: jskdafhkdjl
0

In [48]:
s = "hyderabad is capital and hyderabad metro city"
sub=raw_input("enter a substring for count in string: ")
s_l=s.lower()
sub_l=sub.lower()
if (sub_l):
    print  s_l.count(sub_l)
else:
    print "please give valid string :atleast one charecter"

enter a substring for count in string: hjkfhdlkajhlkja
0

In [49]:
l = [10,20,30,40]
if l:
    print"l contain an elements"
else:
    print"l doesnot contain an elements"

l contain an elements

In [50]:
l=[]
if l:
    print"l contain an elements"
else:
    print"l doesnot contain an elements"

l doesnot contain an elements

In [52]:
a = "hyderabada is capital and metro city"
print a.capitalize()

Hyderabada is capital and metro city

In [53]:
a = "hyderabada is CAPITAL and metro city"
print a.capitalize()

Hyderabada is capital and metro city

In [54]:
a = "hyderabada is capital1234 and metro city"
print a.capitalize()

Hyderabada is capital1234 and metro city

In [55]:
a = "@#$%&&hyderabada is capital and metro city"
print a.capitalize()

@#$%&&hyderabada is capital and metro city

In [4]:
a = "hyderBad"
a.upper()

'HYDERBAD'

In [5]:
a.isupper()

False

In [12]:
for char in a:
    if  char == a.upper():
        print char

In [14]:
a = "hyderBad"
for i in a:
    if i.isupper():
        print i

B

In [36]:
#take the string from user and check whether it contains atleast one cpital letter or not
a = "HyderBad"
for i in a:
    
    if i.isupper():
        print "the capital letters are in given string:",i

 the capital letters are in given string: H
the capital letters are in given string: B

In [27]:
a = "HyderBad"
for i in a:
    
    if i.isupper():
        print "the capital letters are in given string:",i

the capital letters are in given string: H
the capital letters are in given string: B

In [31]:
a = "HYDERbAD"
for i in a:
    
    if i.islower():
        print "the capital letters are in given string:",i

the capital letters are in given string: b

In [55]:
a = "hyderabad is capital city"
print a.center(26)

hyderabad is capital city

In [57]:
a = "hyderabad is capital city"
print len(a)

25

In [58]:
# padding in done in a a.centre()  with the length of the string  incluede space is default using

In [62]:
a = "hyderabad"
print len(a)
print a

9
hyderabad

In [64]:
print a.center(10)
print a.center(11)
print a.center(12)
print a.center(13)
print a.center(14)
print a.center(15)
print a.center(16)
print a.center(17)
print a.center(18)

hyderabad
 hyderabad
 hyderabad
  hyderabad
  hyderabad
   hyderabad
   hyderabad
    hyderabad
    hyderabad

In [67]:
print a.center(60)
print a.center(80)

                         hyderabad
                                   hyderabad

In [71]:
print a.center(60)
print a.center(80)

                         hyderabad
                                   hyderabad

In [72]:
s = "1234"
print s.center(20)

        1234

In [73]:
s = "@#$%@@"
print s.center(20)

       @#$%@@

In [74]:
s = "hyderabad"
print s.center(40)

               hyderabad

In [75]:
s = "hyderabad"
print s.center(60)

                         hyderabad

In [79]:
s.endswith('d')

True

In [80]:
s.endswith('k')

False

In [81]:
s = "hyderabad is capital city"
print s.endswith('city')

True

In [83]:
s = "hyderabad is capital city"
print s.endswith('capital city')

True

In [85]:
s = "hyderabad is capital city"
print s.endswith(' ')

False

In [86]:
s = "hyderabad is capital city"
print s.endswith('')

True

In [87]:
s = "hyderabad\tis\tcapital\tcity"
print s.expandtabs()

hyderabad       is      capital city

In [88]:
s = "hyderabad\tis\tcapital\tcity"
print s.expandtabs()

hyderabad       is      capital city

In [5]:
s = ['1','2','3','4']
seperator = ','
print seperator.join(s)

1,2,3,4

In [4]:
s = ['1','2','3','4']
print s

['1', '2', '3', '4']

In [6]:
s = ['1','2','3','4']
seperator = ','
print seperator.join(s)

1,2,3,4

In [7]:
s =["ramesh","mahesh","ajay","harish"]
a=','
print a.join(s)

ramesh,mahesh,ajay,harish

In [9]:
s =["ramesh",  "mahesh",  "ajay",  "harish"]
a='and'
print a.join(s)

rameshandmaheshandajayandharish

In [10]:
s = "hy","de","ra","bad"
a = " "
print a.join(s)

hy de ra bad

In [11]:
s = 'ramesh','and','mahesh','and','ajay','and','harish'
a = " "
print a.join(s)

ramesh and mahesh and ajay and harish

In [12]:
s = 'ramesh','and','mahesh','and','ajay','and','harish'
a = ""
print a.join(s)

rameshandmaheshandajayandharish

In [13]:
s = 'ramesh','and','mahesh','and','ajay','and','harish'
a = " "
print a.join(s)

ramesh and mahesh and ajay and harish

In [14]:
s = 'ramesh','and','mahesh','and','ajay','and','harish'
a = " "
print a.join(s)

ramesh and mahesh and ajay and harish

In [20]:
a = [1,2,3,4,1,2,3,4,1]
a.index(3)

2

In [6]:
s = "python program"
print s.find("python")

0

In [9]:
name = "apple"
cost_price=45.672345
print "name:{0}, cost_price:{1}".format(name,cost_price)

name:apple, cost_price:45.672345

In [12]:
name = "apple"
cost_price=45.672345
print "name:{0}, cost_price:{1:.4f}".format(name,cost_price)

name:apple, cost_price:45.6723

In [22]:
a = "apple"
print a.isalnum()

True

In [23]:
a = "1,2,3,4"
print a.isalnum()

False

In [24]:
a = "apple1234"
print a.isalnum()

True

In [25]:
a="@#$"
print a.isalnum()

False

In [27]:
a = "apple1234"
if  a.isalnum():
    print "string contains allnum"
else:
    print "string doesnot contains alnum"

string contains allnum

In [28]:
a = raw_input("enter a string: ")
if  a.isalnum():
    print "yes"
else:
    print "no"

enter a string: hyderabad
yes

In [29]:
a = "hyderabad"
print a.isalnum()

True

In [1]:
l = [10, 20, 30, 40]
print len(l)

4

In [2]:
l = [10, 20, 30, 40]
if l:
    print "list conntains an elements"
else:
    print "list doesnot contains elements"

list conntains an elements

In [3]:
l = []
if l:
    print "list conntains an elements"
else:
    print "list doesnot contains elements"

list doesnot contains elements

In [4]:
s = "python is pure object oriented languege"
print s.capitalize()

Python is pure object oriented languege

In [5]:
s = "python is pure object oriented LANGUEGE"
print s.capitalize()

Python is pure object oriented languege

In [6]:
s = "@#$#python is pure object oriented languege"
print s.capitalize()

@#$#python is pure object oriented languege

In [11]:
s ="python program"
print len(s)
print s.center(80)

14
                                 python program

In [12]:
s ="python program"
print len(s)
print s.center(90)

14
                                      python program

In [16]:
s ="python program"
print len(s)
print s.center(90)
print s.rjust(90,'*')
print s.ljust(90,'$')

14
                                      python program
****************************************************************************python program
python program$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

In [17]:
s ="python program"
print len(s)
print s.center(90)
print s.rjust(90)
print s.ljust(90)

14
                                      python program
                                                                            python program
python program

In [18]:
s ="python program"
print len(s)
print s.center(90)
print s.rjust(14,'*')
print s.ljust(14,'$')

14
                                      python program
python program
python program

In [19]:
s ="python program"
print len(s)
print s.center(90)
print s.rjust(18,'*')
print s.ljust(18,'$')

14
                                      python program
****python program
python program$$$$

In [38]:
p="pwd1kd;asl"
print p.encode("base64")      # converts binary ASCII into  radix 6

cHdkMWtkO2FzbA==

In [43]:
p="hyderabad"
print p.encode("base64")      # converts binary ASCII into  radix 6

aHlkZXJhYmFk

In [44]:
p="hyderabad"
p_en= p.encode("base64")     # converts binary ASCII into  radix 6
print p_en.decode("base64")

hyderabad

In [45]:
s ="1234hyderabad is capital city"
from string import maketrans
table = maketrans("abcd","@#$%")
print s.translate(table)

1234hy%er@#@% is $@pit@l $ity

In [48]:
s ="1234hyderabad is capital city"
from string import maketrans
table = maketrans("a","&")
print s.translate(table)

1234hyder&b&d is c&pit&l city

In [50]:
s ="1234hyderabad is capital city"
from string import maketrans
table = maketrans("a","&")
print s.translate(table)

1234hyder&b&d is c&pit&l city

In [51]:
s ="1234hyderabad is capital city"
from string import maketrans
table = maketrans("abcd","&@!.")
print s.translate(table)

1234hy.er&@&. is !&pit&l !ity

In [54]:
s ="1234hyderabad is capital city"
from string import maketrans
table = maketrans("abcd","&@!.")
dec_table=maketrans("&@!.","abcd")
s_e=s.translate(table)
print s_e.translate(dec_table)

1234hyderabad is capital city

In [56]:
s ="1234hyderabad is capital city"
print s.startswith('12')

True

In [57]:
s ="1234hyderabad is capital city"
print s.endswith('city')

True

In [58]:
s ="1234hyderabad is capital city"
print s.startswith('ty')
print s.endswith('12')

False
False

In [59]:
s ="1234hyderabad is capital city"
print s[3:].startswith('4')

True

In [60]:
s ="1234hyderabad is capital city"
print s.startswith(" ")
print s.endswith(" ")

False
False

In [61]:
s ="1234hyderabad is capital city"
print s.startswith("")
print s.endswith("")             #because each charecter is belongs in function

True
True

In [63]:
s ="hyderabad is capital city"
print s.find('hyderabad')    #find only starting charecter in string

0

In [64]:
s ="hyderabad is capital city"
print s.find('capital')    #find only starting charecter in string

13

In [65]:
s ="hyderabad is capital city"
print s.find('city')    #find only starting charecter in string

21

In [66]:
s ="hyderabad is capital city"
print s.find('is')    #find only starting charecter in string

10

In [67]:
s ="hyderabad is capital city"
print s.find('c')    #find only starting charecter in string

13

In [68]:
s ="hyderabad is capital city"
print s.find('city')    #find only starting charecter in string

21

In [70]:
s ="hyderabad is capital city"
print s.find('hyderabad')    #find only starting charecter in string

0

In [71]:
s ="hyderabad is capital city"
print s.find('capital')    #find only starting charecter in string

13

In [72]:
s ="hyderabad is capital city"
print s.find('delhi')    # if there is mismatch charecter or word is menntion it shows -1

-1

In [74]:
s ="hyderabad is capital city"
print s.find('mumbai')    # if there is mismatch charecter or word is menntion it shows -1

-1

In [75]:
s ="hyderabad is capital city"
print s.find('capital')
print s.index('capital')

13
13

In [76]:
s ="hyderabad is capital city"
print s.find('delhi')   # it shows -1
print s.index('delhi')  #it shows  valueError

-1

ValueError: substring not found

In [78]:
s ="hyderabad is capital city, hyderabad is big city,hyderabad"
print s.find('hyderabad') #its only consider firs word

0

In [80]:
s ="hyderabad is capital city, hyderabad is big city,hyderabad"
print s.find('hyderabad')      #its only consider firs word
print s.index('hyderabad')

0
0

In [81]:
s ="hyderabad is capital city, hyderabad is big city,hyderabad"
print len(s)
print s.find('hyderabad')      #its only consider firs word in string
print s.index('hyderabad')
print s.rfind('hyderabad')     # its only consider last word in string

58
0
0
49

In [82]:
s ="hyderabad is capital city, hyderabad is big city,hyderabad"
print len(s)
print s.find('hyderabad')      #its only consider firs word in string
print s.index('hyderabad')
print s.rfind('hyderabad')     # its only consider last word in string
print s.rindex('hyderabad')

58
0
0
49
49

In [86]:
a = "harish"
age = 20
height = 4.10

# i want  print like name:harish, age:20, height:4.10

print "name:%s, age:%s, height:%s"%(a,age,height)

name:harish, age:20, height:4.1

In [87]:
a = "harish"
age = 20
height = 4.10

# i want  print like name:harish, age:20, height:4.10

print "name:%s, age:%s, height:%f"%(a,age,height)

name:harish, age:20, height:4.100000

In [90]:
a = "harish"
age = 20
height = 4.10

# i want  print like name:harish, age:20, height:4.10

print "name:%s, age:%s, height:%f"%(a,age,height)

# i want print in strinng formate

print "a:{0}".format(a)

name:harish, age:20, height:4.100000
a:harish

In [91]:
a = "harish"
age = 20
height = 4.10

# i want  print like name:harish, age:20, height:4.10

print "name:%s, age:%s, height:%f"%(a,age,height)

# i want print in strinng formate

print "a:{0}, age:{1}".format(a,age)

name:harish, age:20, height:4.100000
a:harish, age:20

In [94]:
a = "harish"
age = 20
height = 4.10

# i want  print like name:harish, age:20, height:4.10

print "a:%s, age:%s, height:%f"%(a,age,height)

# i want print in strinng formate

print "a:{0}, age:{1}, height:{2}".format(a,age,height)

a:harish, age:20, height:4.100000
a:harish, age:20, height:4.1

In [95]:
a = "harish"
age = 20
height = 4.10

# i want  print like name:harish, age:20, height:4.10

print "a:%s, age:%s, height:%.2f"%(a,age,height)

# i want print in strinng formate

print "a:{0}, age:{1}, height:{2:.2f}".format(a,age,height)

a:harish, age:20, height:4.10
a:harish, age:20, height:4.10

In [96]:
a = "harish"
age = 20
height = 4.10124689

# i want  print like name:harish, age:20, height:4.10

print "a:%s, age:%s, height:%.4f"%(a,age,height)

# i want print in strinng formate

print "a:{0}, age:{1}, height:{2:.4f}".format(a,age,height)

a:harish, age:20, height:4.1012
a:harish, age:20, height:4.1012

In [97]:
name = "apple"
cost_price=45.672345
print "name:{0}, cost_price:{1}".format(name,cost_price)

name:apple, cost_price:45.672345

In [98]:
name = "apple"
cost_price=45.672345
print "name:{0}, cost_price:{1:.4f}".format(name,cost_price)

name:apple, cost_price:45.6723

In [99]:
print "%d"%(40.87689)

40

In [100]:
print "%f"%(40.87689)

40.876890

In [102]:
print "%b"%(40.87689) # it doesnot convert into binary

ValueError: unsupported format character 'b' (0x62) at index 1

In [103]:
print "{0}".format(40)

40

In [105]:
print "{0:f}".format(40)

40.000000

In [106]:
print "{0:2f}".format(40)

40.000000

In [107]:
print "{0:.2f}".format(40)

40.00

In [108]:
print "{0:.4f}".format(40)

40.0000

In [110]:
print "{0:b}".format(40)    # in formate specifiers there is possible to convert digit into binarycode

101000

In [116]:
name="harish"
print"%s is good boy, %s is student, %s isfrom hyderabad, %s is mba student"%(name,name,name)

TypeError: not enough arguments for format string

In [120]:
name="harish is"
print "%s is good boy, %s is player, %s is writer, %ssportman"%(name,name,name,name)

harish is is good boy, harish is is player, harish is is writer, harish issportman

In [121]:
name="harish is"
print "%s is good boy, %s is player, %s is writer, %ssportman"%(name,name,)

TypeError: not enough arguments for format string

In [123]:
# in above there is more times to write %s so instead o that we can write in format:
name="harish is"
print "{0} is good boy, {0} is player, {0} is writer, {0} is sportman".format(name)

harish is is good boy, harish is is player, harish is is writer, harish is is sportman

In [124]:
a = "abcd"
print a.isalnum()

True

In [125]:
a = "abcd1234"
print a.isalnum()

True

In [126]:
a = "1234"
print a.isalnum()

True

In [127]:
a = "@#$%"
print a.isalnum()

False

In [128]:
#if special symbols are consider:
a = raw_input("entera string: ")
if a.isalnum():
    print "no"
else:
    print "yes"

entera string: abcd
no

In [129]:
a = raw_input("entera string: ")
if a.isalnum():
    print "no"
else:
    print "yes"

entera string: !@#$
yes

In [130]:
# if there is no any string:
a = raw_input("entera string: ")
if a.isalnum():
    print "no"
else:
    print "yes"

entera string:
yes

In [131]:
# if there is no any string:
a = raw_input("entera string: ")
if a:
    if a.isalnum():
        print "no"
    else:
        print "yes"
else:
    print "please enter a valid string: i.e expecting atleast one charecter"

entera string:
please enter a valid string: i.e expecting atleast one charecter

In [133]:
 type(a.isalnum())

bool

In [134]:
 print type(a.isalnum())

<type 'bool'>

In [135]:
"True"==True

False

In [136]:
# if there is no any string:
a = raw_input("entera string: ")
if a:
    if a.isalnum():
        print "no"
    else:
        print "yes"
else:
    print "please enter a valid string: i.e expecting atleast one charecter"

entera string:
please enter a valid string: i.e expecting atleast one charecter

In [137]:
# if there is no any string:
a = raw_input("entera string: ")
if a:
    if a.isalnum():
        print "no"
    else:
        print "yes"
else:
    print "please enter a valid string: i.e expecting atleast one charecter"

entera string: abcd1234
no

In [138]:
# if there is no any string:
a = raw_input("entera string: ")
if a:
    if a.isalnum():
        print "no"
    else:
        print "yes"
else:
    print "please enter a valid string: i.e expecting atleast one charecter"

entera string: 1234
no

In [139]:
# if there is no any string:
a = raw_input("entera string: ")
if a:
    if a.isalnum():
        print "no"
    else:
        print "yes"
else:
    print "please enter a valid string: i.e expecting atleast one charecter"

entera string:
please enter a valid string: i.e expecting atleast one charecter

In [140]:
# if there is no any string:
a = raw_input("entera string: ")
if a:
    if a.isalnum():
        print "no"
    else:
        print "yes"
else:
    print "please enter a valid string: i.e expecting atleast one charecter"

entera string: !@#$
yes

In [1]:
a  = "www.programiz.com"
print a.lstrip('w')

.programiz.com

In [2]:
a  = "wwwprogramizcom"
print a.lstrip('w')

programizcom

In [11]:
a = " tttt.iscapitalcitythisisbigcity"
print a.lstrip('t')

 tttt.iscapitalcitythisisbigcity

In [13]:
a.partition('t')

(' ', 't', 'ttt.iscapitalcitythisisbigcity')

In [17]:
a = "aa"
print a.encode('base64')

YWE=

In [21]:
import base64

In [22]:
import base64

In [24]:
plain import base64 image = open('deer.gif', 'rb') #open binary file in read mode 
image_read = image.read() image_64_encode = base64.encodestring(image_read) 
print image_64_encode

SyntaxError: invalid syntax (<ipython-input-24-cee255ac7a76>, line 1)

In [1]:
a = "1234"
print a.isdigit()

True

In [1]:
a =  "a123"
print a.isdigit

<built-in method isdigit of str object at 0x7fd0981c8f60>

In [2]:
a = "hyderabad"
print a.isalpha()

True

In [3]:
a = "hyderabad1234"
print a.isalpha()

False

In [4]:
a = "hyderabad@#$"
print a.isalpha()

False

In [5]:
a = ""
print a.isalpha()

False

In [6]:
a = "1234"
print a.isalpha()

False

In [7]:
a = "HYDERABAD"
print a.isalpha()

True

In [9]:
a = "1234"
print a.isalpha()

False

In [10]:
a = "12.34"
print a.isalpha()     #it is false because there is no alphabets

False

In [11]:
a = "12.34"
print a.isdigit()     #it is false because string in digits and flote type

False

In [12]:
a="1234"
print a.isdigit()

True

In [13]:
a="abcd"
print a.isdigit()

False

In [14]:
a="@#$%"
print a.isdigit()

False

In [15]:
a="1234@#$%"
print a.isdigit()

False

In [16]:
a = "abcd"
print a.islower()

True

In [17]:
a = "abcd1234"
print a.islower()       #it does not consider digits it consider only alphabets

True

In [18]:
a = "abcd!@#$"
print a.islower()

True

In [19]:
a = "1234!@#$"
print a.islower()   # it should contain atleast one alphabet charecter

False

In [21]:
a = "a1234!@#$"
print a.islower()  # it consider only alphabet so it is in lowercase so it is true

True

In [22]:
a = "A1234!@#$"
print a.islower() # the alphabet charecter only in uppercase

False

In [23]:
a = "1234"
print a.islower()

False

In [24]:
s  = "kohli is good player"
print s.isspace()

False

In [25]:
s = "              "
print s.isspace()

True

In [26]:
s  = "    kohli is good player  "
print s.isspace()

False

In [27]:
s  = ""
print s.isspace()

False

In [28]:
s  = "  "
print s.isspace()

True

In [29]:
s = "Abc"
print s.islower()

False

In [30]:
s = "ABC"
print s.islower()

False

In [31]:
s = "Abc"
print s.isupper()

False

In [32]:
s = "ABC"
print s.isupper()

True

In [33]:
s  = "  "
print s.isspace()

True

In [34]:
s  = "       1 "
print s.isspace()

False

In [35]:
s  = "            a "
print s.isspace()

False

In [36]:
s  = "      @#  "
print s.isspace()

False

In [37]:
s = "python program"
print s.title()              # it converts  first letter of the word is makes capital

Python Program

In [38]:
s = "Python Program"
print s.title()

Python Program

In [39]:
s = "Python Program"
print s.istitle()

True

In [40]:
s = "py1thon pro#gram"
print s.title()  #itconverts firstletter ofthe word and nextletter after the specialsymbol and number makes capital letter.

Py1Thon Pro#Gram

In [41]:
s = "py1thon pro#gram"
print s.istitle()

False

In [42]:
s = "Py1Thon Pro#Gram"
print s.istitle()

True

In [43]:
s = "anil kumar, harish, ajay kumar,  mahesh babu"
for i in s:
    print i

a
n
i
l

k
u
m
a
r
,

h
a
r
i
s
h
,

a
j
a
y

k
u
m
a
r
,


m
a
h
e
s
h

b
a
b
u

In [44]:
s = "anil kumar, harish, ajay kumar,  mahesh babu"
l = list(s)

In [45]:
s = "anil kumar, harish, ajay kumar,  mahesh babu"
l = list(s)
print l

['a', 'n', 'i', 'l', ' ', 'k', 'u', 'm', 'a', 'r', ',', ' ', 'h', 'a', 'r', 'i', 's', 'h', ',', ' ', 'a', 'j', 'a', 'y', ' ', 'k', 'u', 'm', 'a', 'r', ',', ' ', ' ', 'm', 'a', 'h', 'e', 's', 'h', ' ', 'b', 'a', 'b', 'u']

In [46]:
s = "anil kumar, harish, ajay kumar,  mahesh babu"

print s.split(',')

['anil kumar', ' harish', ' ajay kumar', '  mahesh babu']

In [47]:
s.split?

In [48]:
s = "anil kumar, harish, ajay kumar,  mahesh babu"

print s.split(',')      # (',') hear coma is not coma it is split function charecter

['anil kumar', ' harish', ' ajay kumar', '  mahesh babu']

In [49]:
s = "anil kumar:, harish:, ajay kumar:,  mahesh babu:"

print s.split(',')

['anil kumar:', ' harish:', ' ajay kumar:', '  mahesh babu:']

In [50]:
s = "anil kumar:, harish:, ajay kumar:,  mahesh babu:"

print s.split(':')

['anil kumar', ', harish', ', ajay kumar', ',  mahesh babu', '']

In [51]:
s = "anil kumar@, harish@, ajay kumar@,  mahesh babu@"

print s.split('@')

['anil kumar', ', harish', ', ajay kumar', ',  mahesh babu', '']

In [54]:
s = "anil kumar;, harish;, ajay kumar;,  mahesh babu;"

l = s.split(';')
print l

['anil kumar', ' , harish', ', ajay kumar', ',  mahesh babu', '']

In [55]:
s = "anil kumar, harish, ajay kumar, mahesh babu;"

l = s.split(',')

In [56]:
s = "anil kumar, harish, ajay kumar, mahesh babu"

l = s.split(',')
print l

['anil kumar', ' harish', ' ajay kumar', ' mahesh babu;']

In [57]:
s = "anil kumar, harish, ajay kumar, mahesh babu"

l = s.split(',')
print l

['anil kumar', ' harish', ' ajay kumar', ' mahesh babu']

In [58]:
s = "anil kumar; harish; ajay kumar; mahesh babu"

l = s.split(',')
print l                         # there is no split

['anil kumar; harish; ajay kumar; mahesh babu']

In [60]:
s = "anil kumar; harish; ajay kumar; mahesh babu"

l = s.split(';')
print l                         # there is  split beacause there is perfect matching ';' in above list
                                #split is indicates with coma whwre split function is done

['anil kumar', ' harish', ' ajay kumar', ' mahesh babu']

In [61]:
s = "anil kumar; harish; ajay kumar; mahesh babu"

l = s.split(';')
for i in l:
    print i

anil kumar
 harish
 ajay kumar
 mahesh babu

In [63]:
s = "anil kumar; harish; ajay kumar; mahesh babu"

l = s[0:1].split(';')
print l

['a']

In [64]:
s = "anil kumar; harish; ajay kumar; mahesh babu"

l = s[0:4].split(';')
print l

['anil']

In [65]:
s = "anil kumar; harish; ajay kumar; mahesh babu"

l = s[0:10].split(';')
print l

['anil kumar']

In [66]:
s = "anil kumar; harish; ajay kumar; mahesh babu"

l = s.split(';') [:2]
print l                                   # iam looking for only last names takes split function

['anil kumar', ' harish']

In [67]:
s = "anil kumar; harish; ajay kumar; mahesh babu"

l = s.split('\n')                         
print l                                   # there is no matching in split function and in string function

['anil kumar; harish; ajay kumar; mahesh babu']

In [68]:
s = "anil kumar; harish; ajay kumar; mahesh babu"

l = s.split(';',2)
print l                                         # iam looking for only first two names takes split function

['anil kumar', ' harish', ' ajay kumar; mahesh babu']

In [69]:
s = "anil kumar; harish; ajay kumar; mahesh babu"

l = s.split(';',-2)
print l                # iam looking for only last names takes split function but all names takes aplit function

['anil kumar', ' harish', ' ajay kumar', ' mahesh babu']

In [70]:
s = "anil kumar; harish; ajay kumar; mahesh babu"

l = s.split(';',0)
print l                # iam looking for only last names takes split function but all names takes split function

['anil kumar; harish; ajay kumar; mahesh babu']

In [72]:
s = "anil kumar; harish; ajay kumar; mahesh babu"
s1 =s[::-1]

l = s1.split(';')
print l                # iam looking for only last names takes split function but all names takes aplit function

['ubab hseham ', 'ramuk yaja ', 'hsirah ', 'ramuk lina']

In [73]:
s = "anil kumar; harish; ajay kumar; mahesh babu"
s1 =s[::-1]

l = s1.split(';',2)
print l                # iam looking for only last names takes split function but all names takes aplit function

['ubab hseham ', 'ramuk yaja ', 'hsirah ;ramuk lina']

In [74]:
 # iam looking for only last names takes split function but all names takes split function
# so there is special string is s.rsplit()
s = "anil kumar; harish; ajay kumar; mahesh babu"

print s.split(';',2)
print s.rsplit(';',2)      #there is only two names are splitts from right to left names

['anil kumar', ' harish', ' ajay kumar; mahesh babu']
['anil kumar; harish', ' ajay kumar', ' mahesh babu']

In [75]:
a = "jlksgj;lkajljalakjslkajkakjnsan"
print a.replace('a','@')

jlksgj;lk@jlj@l@kjslk@jk@kjns@n

In [76]:
a = "jlksgj;lkajljalakjslkajkakjnsan"
print a.replace('a','2')

jlksgj;lk2jlj2l2kjslk2jk2kjns2n

In [77]:
a = "jlksgj;lkajljalakjslkajkakjnsan"
print a.replace('a','A')

jlksgj;lkAjljAlAkjslkAjkAkjnsAn

In [78]:
a = "jlksgj;lkajljalakjslkajkakjnsan"
print a.replace('a','c')

jlksgj;lkcjljclckjslkcjkckjnscn

In [81]:
a = "abcdabcdabcdabcdabcdabcd"
print a.replace('a','A',2)     # hear 2 indicates only first two letters are replaced

AbcdAbcdabcdabcdabcdabcd

In [82]:
a = "abcdabcdabcdabcdabcdabcd"
print a.replace('a','A',-2)     # hear -2 doesnot replaced only last two letters, replaced all a letters

AbcdAbcdAbcdAbcdAbcdAbcd

In [83]:
s = "anil kumar\n harish\n ajay kumar\n mahesh babu"
print s.split('\n')

['anil kumar', ' harish', ' ajay kumar', ' mahesh babu']

In [85]:
s = "anil kumar\n harish\n ajay kumar\n mahesh babu"
print s.split('\n')
print s.splitlines()

['anil kumar', ' harish', ' ajay kumar', ' mahesh babu']
['anil kumar', ' harish', ' ajay kumar', ' mahesh babu']

In [87]:
s = "anil kumar\n harish\n ajay kumar\n mahesh babu"
print s.split()
print s.splitlines()               # observe the difference between split and splitlines

['anil', 'kumar', 'harish', 'ajay', 'kumar', 'mahesh', 'babu']
['anil kumar', ' harish', ' ajay kumar', ' mahesh babu']

In [88]:
s = "anil kumar\n harish\n ajay kumar\n mahesh babu"
print s.split()
print s.splitlines(True)               # observe the difference between split and splitlines

['anil', 'kumar', 'harish', 'ajay', 'kumar', 'mahesh', 'babu']
['anil kumar\n', ' harish\n', ' ajay kumar\n', ' mahesh babu']

In [89]:
s = "anil kumar\n harish\n ajay kumar\n mahesh babu"
print s.split('\n')
print s.splitlines('\n')               # observe the difference between split and splitlines

['anil kumar', ' harish', ' ajay kumar', ' mahesh babu']

TypeError: an integer is required

In [90]:
l = ['harish', 'mahesh', 'ramesh', 'ajay', 'pawan', 'prabhas']
print "".join(l)

harishmaheshrameshajaypawanprabhas

In [92]:
l = ['harish', 'mahesh', 'ramesh', 'ajay', 'pawan', 'prabhas']
print "; ".join(l)

harish; mahesh; ramesh; ajay; pawan; prabhas

In [93]:
l = ['harish', 'mahesh', 'ramesh', 'ajay', 'pawan', 'prabhas']
print ", ".join(l)

harish, mahesh, ramesh, ajay, pawan, prabhas

In [94]:
s = "    hyderabad   "
print s
print s.strip()

    hyderabad
hyderabad

In [95]:
s = "    user name   "
print s
print s.strip()

    user name
user name

In [97]:
s = "@#$user!@#$name"
print s
print s.strip('@')   # it strip the charecter

@#$user!@#$name
#$user!@#$name

In [98]:
s = "@#$user!@#$name"
print s
print s.strip('@#')   
# actually in any strip function string takes all substring chars to perform string function but in s.strip string function
#no need to individual substrng chrs it consider also group of given chars in funtion string

@#$user!@#$name
$user!@#$name

In [101]:
s = "@#$user@#$name@#$"
print s
print s.strip('@#$')    # @#$ strips first and last in string
print s.rstrip('@#$')   # @#$ strips last (right to left ) in string
print s.lstrip('@#$')   # @#$ strips first (left to right ) in string

@#$user@#$name@#$
user@#$name
@#$user@#$name
user@#$name@#$

In [102]:
s = "harish; mahesh; ramesh;  ajay; pawan; prabhas"
print s.split(';')
print s.partition(';')   # partion makes result in tuple ( only three elements ):
                         # hear three partions are 1. 'harish'   2.';'   3.remaining all chars 'mahesh; ramessh.......'

['harish', ' mahesh', ' ramesh', '  ajay', ' pawan', ' prabhas']
('harish', ';', ' mahesh; ramesh;  ajay; pawan; prabhas')

In [103]:
s = "harish; mahesh; ramesh;  ajay; pawan; prabhas"
print s.rsplit(';')                                  # it takes all splits

['harish', ' mahesh', ' ramesh', '  ajay', ' pawan', ' prabhas']

In [104]:
s = "harish; mahesh; ramesh;  ajay; pawan; prabhas"
print s.rsplit(';',3)                                  # it takes left to right three splits, remaining are same

['harish; mahesh; ramesh', '  ajay', ' pawan', ' prabhas']

In [105]:
s = "harish; mahesh; ramesh;  ajay; pawan; prabhas"
print s.rsplit(';',2)                                  # it takes left to right two splits, remaining are same

['harish; mahesh; ramesh;  ajay', ' pawan', ' prabhas']

In [107]:
s = "harish; mahesh; ramesh;  ajay; pawan; prabhas"
print s.split(';')                    # by default it takes right to left all splits

['harish', ' mahesh', ' ramesh', '  ajay', ' pawan', ' prabhas']

In [108]:
s = "harish; mahesh; ramesh;  ajay; pawan; prabhas"
print s.split(';',2)                    # by default it takes right to left only two substrings splits

['harish', ' mahesh', ' ramesh;  ajay; pawan; prabhas']

In [109]:
s = "harish; mahesh; ramesh;  ajay; pawan; prabhas"
print s.split(';')

['harish', ' mahesh', ' ramesh', '  ajay', ' pawan', ' prabhas']

In [110]:
s = "harish; mahesh; ramesh;  ajay; pawan; prabhas"
print s.split(';')

['harish', ' mahesh', ' ramesh', '  ajay', ' pawan', ' prabhas']

In [111]:
s = "python programming"
print s.zfill?

In [ ]:
print s.zfill

In [112]:
s = "python programming"
print s.zfill(0)

python programming

In [113]:
s = "python programming"
print s.zfill(12)

python programming

In [114]:
s = "python programming"
print s.zfill(20)

00python programming

In [115]:
s = "python programming"
print len(s)

18

In [116]:
s = "python programming"
print len(s)
print s.zfill(18)

18
python programming

In [119]:
s = "python programming"
print len(s)
print s.zfill(18)
print s.zfill(19)
print s.zfill(20)
print s.zfill(21)
print s.zfill(22)
print s.zfill(23)
print s.zfill(24)
print s.zfill(25)
print s.zfill(26)
print s.zfill(27)
print s.zfill(28)

18
python programming
0python programming
00python programming
000python programming
0000python programming
00000python programming
000000python programming
0000000python programming
00000000python programming
000000000python programming
0000000000python programming

In [120]:
s = "python programming"
print len(s)
print s.zfill(60)

18
000000000000000000000000000000000000000000python programming

In [124]:
s = "python programming"
print len(s)
print s.zfill(20)

18
00python programming

In [ ]:
s = "python programming"
print len(s)
print s.zfill(20)          # first we campare the length of the string
                           # if we give s.zfill value lessthan its length value it  shows same output 
                           # if we give s.zfill value morethan its length value it adds zeros from left of the string 
                           #s.zfill is string filled with zeros