In [3]:
import keyword
keyword.kwlist

['and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'exec',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'not',
 'or',
 'pass',
 'print',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [4]:
#variables names should be in small letters, it could not start with numbers

In [5]:
fruit_name = "apple"
fruit_cost = 20
print fruit_name,"cost is ",fruit_cost

apple cost is  20

In [3]:
fruit_name = "apple"
fruit_cost = 20
print fruit_name,"cost is ",+int(fruit_cost)

 apple cost is  20

In [18]:
_fruit_name = "apple"
_fruit_cost = 20
print fruit_name,"cost is ",+int(fruit_cost)

apple cost is  20

In [19]:
fruit_name1 = "apple"
fruit_cost2 = 20
print fruit_name,"cost is ",+int(fruit_cost)

apple cost is  20

In [22]:
1fruit_name1 = "apple"
fruit_cost$ = 20
print fruit_name,"cost is ",+int(fruit_cost)

SyntaxError: invalid syntax (<ipython-input-22-b516a402032c>, line 1)

In [11]:
name = "anil"
age = 23
height = 5.67895
weight = 70.42
print "the person name is:",name, "    his age is: ",age , "  his height is:",height, " his weight is:",weight

the person name is: anil     his age is:  23   his height is: 5.67895  his weight is: 70.42

In [8]:
name ="anil"
age = 23
height = 5.67895
weight = 70.42
print "the person details are:","name:",name, ',  weight is='+str(weight), ",  height is="+str(height), ",  age is = "+str(age)

the person details are: name: anil ,  weight is=70.42 ,  height is=5.67895 ,  age is = 23

In [16]:
print "the person details are weight: "+str(weight),

 the person details are weight: 70.42

In [17]:
print "the person details are weight: "+str(height),

the person details are weight: 5.67895

In [21]:
name = "anil"
age = 23
height = 5.67895
weight = 70.42
print "the person name is:",name, "his details are: ", 'weight is ='+str(weight),\
"height is="+str(height), "age is = "+str(age)

the person name is: anil his details are:  weight is =70.42 height is=5.67895 age is = 23

In [22]:
# special purpose symbols in strings
a = "sachin\n is good player"
print a

sachin
 is good player

In [23]:
#its cool day in hyderabad
a = "its cool day\n in hyderabad "
print a

its cool day
 in hyderabad

In [24]:
a = 'it's cool day in hyderabad '
print a

SyntaxError: invalid syntax (<ipython-input-24-7aa74e7d06bc>, line 1)

In [15]:
a = "it's cool day\n in hyderabad "
print a

it's cool day
 in hyderabad

In [36]:
apple_cost = 20
print "cost of products:","%s"%apple_cost

cost of products: 20

In [17]:
a = "it's cool day\t in hyder\tabad "
print a

it's cool day	 in hyder	abad

In [23]:
a = 'it's cool day in hyderabad
print a

SyntaxError: invalid syntax (<ipython-input-23-77533729dc13>, line 1)

In [24]:
a = 'it\'s cool day in hyderabad'
print a

it's cool day in hyderabad

In [26]:
a = "it's a cool day in "hyderabad"
print a

SyntaxError: invalid syntax (<ipython-input-26-581f9029e582>, line 1)

In [27]:
a = "it's a cool day in \"hyderabad\""d
print a

it's a cool day in "hyderabad"

In [29]:
a = 'it\'s a cool day in \'hyderabad\''
print a

it's a cool day in 'hyderabad'

In [32]:
#formate specifiers 
# fromat specifiers: %s, %d, %o, %f, %r, %x
print "%s,%d,%r,%f,%o,%x"

%s,%d,%r,%f,%o,%x

In [31]:
print "%o"%1234

2322

In [32]:
print oct(1234)

02322

In [14]:
height = 10.24
print "the person details:%s"%height

the person details:10.24

In [38]:
print "the person details:%f"%height

the person details:10.240000

In [39]:
print "the person details:%s"%height

the person details:10.24

In [39]:
#cost of product
product_cost = 40
s1 = "the cost of product: " + str(product_cost)
print s1

the cost of product: 40

In [47]:
#cost of product in percentail 
product_cost = 40
s1 = "the cost of product: %s"%product_cost
print s1

the cost of product: 40

In [2]:
name =  'mahesh'
age = 22
height = 5.8

print "The detailes of person: ", "name:",name,",   age:",age, ",  height:",height

The detailes of person:  name: mahesh ,   age: 22 ,  height: 5.8

In [2]:
name = "mahesh"
weight = int(input("enter the weight of the person: "))
height = float(input("enter the height of the person: "))
bmi = weight/(height*height)
print bmi

enter the weight of the person: 40
enter the height of the person: 4.10
2.37953599048

In [3]:
name = "mahesh"
weight = int(input("enter the weight of the person: "))
height = float(input("enter the height of the person: "))
bmi = weight/(height*height)
print "mahesh's body_mass_index is:",bmi

enter the weight of the person: 60
enter the height of the person: 6.0
mahesh's body_mass_index is: 1.66666666667

In [11]:
name="Jayaram"
age=1.6
height=3.5356234
weight=10.343856783
print "the person details are: "," name:",name,",  age:"+str(age),",  height:"+str(height),",  weight:"+str(weight)

print "The person details are: "," name:",name,",  age:%s"%age,",  height:%f"%height,",  weight:%s"%weight

the person details are:   name: Jayaram ,  age:1.6 ,  height:3.5356234 ,  weight:10.343856783
The person details are:   name: Jayaram ,  age:1.6 ,  height:3.535623 ,  weight:10.343856783

In [16]:
a = "kohli is good player"
print a.upper()

KOHLI IS GOOD PLAYER